<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Types and Kinds of Orders</span>
                    </h1>


                    <h3 class="orange">Classification</h3>
                    <p>To open and close positions, exchange orders (orders) are used. By type of execution, they
                        distinguish between market
                        orders (market order) and pending orders (pending order). Pending orders, in turn, can be limit
                        (limit), stop
                        (stop), or stop-limit (stop limit). An order of each type can be used to buy (buy) or sell
                        (sell).</p>

                    <h3 class="orange">Passive Limit Order</h3>
                    <p>A limit order is an order to buy or sell a certain amount of an asset at the specified price or
                        better. For now, we
                        consider regular (passive) limit orders.</p>

                    <p>A buy limit order is an order to buy at the specified price or lower (as it is profitable for the
                        buyer to have the
                        price as low as possible). The buy limit order is placed at a price lower than the current
                        market price. The trader
                        uses this order when he hopes that the price will fall first, but then, reaching the set level,
                        will turn around and
                        start to rise (i.e., he expects a rebound from the support level).</p>

                    <p>A sell limit order is an order to sell at the specified price or higher (as it is profitable for
                        the seller to have
                        the price as high as possible). The sell limit order is placed at a price higher than the
                        current market price. The
                        trader uses this order when he hopes that the price will rise first, but then, reaching the set
                        level, will turn
                        around and start to fall (i.e., he expects a rebound from the resistance level).</p>

                    <p>To execute a limit order, there must be an opposite market order.</p>

                    <p>The limit order is used both to open a position and to close it with a profit: a buy limit order
                        provides an exit
                        from a short position (sale), and a sell limit order provides an exit from a long position
                        (purchase).</p>

                    <p>Participants in trades using limit orders provide liquidity, i.e., they allow other participants
                        to make transactions
                        by agreeing to the prices indicated in these limit orders.</p>

                    <p>If we compare the exchange with a vegetable market, participants who have placed limit orders are
                        like traders who
                        have laid out their goods on the counters and set price tags (with the only exception that on
                        the market goods are
                        usually only sold, and on the exchange, trading instruments are both sold and bought).</p>

                    <h3 class="orange">Order Book</h3>
                    <p>All limit orders sent to the exchange by all trading participants form the so-called order book
                        (order book).</p>

                    <p>The price at which the last transaction on the exchange took place is called the Last price.
                        Above the Last price,
                        limit sell orders are placed in the order book. Below are limit buy orders. A limit sell order
                        at the best price
                        (closest to the Last price) is called an offer (Offer) or ask (Ask).</p>

                    <p>A limit buy order at the best price (closest to the Last price) is called a bid (Bid).</p>

                    <p>The gap between the bid and ask is called the spread.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>