<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Объемный анализ рынка</span>
                    </h1>


                    <p>Привет всем! Меня зовут Игорь Арапов и сегодня я хочу подробно рассказать о том, как работать с
                        объемами на рынке,
                        почему это так важно для любого трейдера и какие принципы стоят за этим индикатором.</p>

                    <h3 class="orange">Что такое объём и откуда он берётся?</h3>
                    <p>Откуда же берётся сам объём? Почему мы видим его на графиках? И можно ли доверять информации,
                        которую он нам
                        предоставляет?</p>

                    <p>На графике (более подробно о графике в видео <a
                            href="https://youtu.be/0pXHZRfVW9E?si=ilyaL93GsoFJL2yW"
                            class="orange dec">https://youtu.be/0pXHZRfVW9E?si=ilyaL93GsoFJL2yW</a>) у нас представлен
                        контракт на фьючерс
                        биткоина. Я выбрал его для примера, хотя стакан с биржи CME здесь не отображается. Но давайте
                        рассмотрим аналогию с
                        реальным стаканом. В нем трейдеры выставляют свои лимитные ордера на покупку или продажу по
                        определенным ценам,
                        ожидая их выполнения.</p>

                    <h3 class="orange">Объемы на графиках</h3>
                    <p>Теперь к самим объемам. Вы видите их на дне экрана. Сейчас я покажу вам данные фьючерса на золото
                        с биржи CME. Эти
                        объёмы подтверждены и отражают реальное количество контрактов, проданных за два часа. Каждый бар
                        на графике
                        представляет собой двухчасовой интервал, и вы видите, сколько контрактов было совершено за этот
                        период.</p>

                    <h3 class="orange">Анализ объемов</h3>
                    <p>Давайте проанализируем, что мы видим здесь. Если крупные игроки активно торгуют большими объемами
                        и пытаются двигать
                        рынок вверх, мы увидим, что объемы на покупку преобладают. Это логично. Объемы помогают нам
                        понять, когда спрос
                        превышает предложение и наоборот.</p>

                    <p>Если профессионалы не заинтересованы в росте и предпочитают продавать, мы увидим падение объемов
                        на повышениях цен.
                        Это говорит о том, что нет поддержки для продолжения роста, и цена скорее всего снизится.</p>

                    <h3 class="orange">Заключение</h3>
                    <p>Я надеюсь, что эта статья помогла вам понять, почему так много трейдеров используют объёмы для
                        анализа рынка. Это не
                        просто статистика, а инструмент, позволяющий понять намерения крупных игроков и принимать
                        обоснованные решения на
                        рынке.</p>













                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Больше о трейдинге можно узнать на моем канале <span class="orange">YouTube</span>. Переходи и подписывайся.</p>

</div>
<section class="separator">
    <div class="line"></div>
</section>