<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Объемный анализ рынка</span>
                    </h1>


                    <p>Привет всем! Меня зовут Игорь Арапов и сегодня я хочу подробно рассказать о том, как работать с
                        объемами на рынке,
                        почему это так важно для любого трейдера и какие принципы стоят за этим индикатором.</p>

                    <h3 class="orange">Что такое объём и откуда он берётся?</h3>
                    <p>Откуда же берётся сам объём? Почему мы видим его на графиках? И можно ли доверять информации,
                        которую он нам
                        предоставляет?</p>

                    <p>На графике (более подробно о графике в видео <a
                            href="https://youtu.be/0pXHZRfVW9E?si=ilyaL93GsoFJL2yW"
                            class="orange dec">https://youtu.be/0pXHZRfVW9E?si=ilyaL93GsoFJL2yW</a>) у нас представлен
                        контракт на фьючерс
                        биткоина. Я выбрал его для примера, хотя стакан с биржи CME здесь не отображается. Но давайте
                        рассмотрим аналогию с
                        реальным стаканом. В нем трейдеры выставляют свои лимитные ордера на покупку или продажу по
                        определенным ценам,
                        ожидая их выполнения.</p>

                    <h3 class="orange">Объемы на графиках</h3>
                    <p>Теперь к самим объемам. Вы видите их на дне экрана. Сейчас я покажу вам данные фьючерса на золото
                        с биржи CME. Эти
                        объёмы подтверждены и отражают реальное количество контрактов, проданных за два часа. Каждый бар
                        на графике
                        представляет собой двухчасовой интервал, и вы видите, сколько контрактов было совершено за этот
                        период.</p>

                    <h3 class="orange">Анализ объемов</h3>
                    <p>Давайте проанализируем, что мы видим здесь. Если крупные игроки активно торгуют большими объемами
                        и пытаются двигать
                        рынок вверх, мы увидим, что объемы на покупку преобладают. Это логично. Объемы помогают нам
                        понять, когда спрос
                        превышает предложение и наоборот.</p>

                    <p>Если профессионалы не заинтересованы в росте и предпочитают продавать, мы увидим падение объемов
                        на повышениях цен.
                        Это говорит о том, что нет поддержки для продолжения роста, и цена скорее всего снизится.</p>

                    <h3 class="orange">Заключение</h3>
                    <p>Я надеюсь, что эта статья помогла вам понять, почему так много трейдеров используют объёмы для
                        анализа рынка. Это не
                        просто статистика, а инструмент, позволяющий понять намерения крупных игроков и принимать
                        обоснованные решения на
                        рынке.</p>













                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/freestudying/tradingmyths"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/freestudying/smartmoneyeducation"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Больше о трейдинге можно узнать на моем канале <span class="orange">YouTube</span>. Переходи и подписывайся.</p>

</div>
<section class="separator">
    <div class="line"></div>
</section>