<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Value Date and Position Roll-Over</span>
                    </h1>


                    <p>Commonly accepted in the Forex market and under margin trading conditions are settlements (<span
                            class="orange">Value Date</span>) two days after
                        the transaction is made. A transaction with a settlement date two days after the transaction is
                        called <span class="orange"> SPOT</span>. In the
                        currency market, there are <span class="orange"> TOD</span> (today - settlements today), <span
                            class="orange">TOM</span>
                        (tomorrow - settlements
                        tomorrow), and other
                        transactions, but they are not used under margin trading conditions. Thus, the settlement date
                        for the transaction
                        is firmly fixed at the time it is made.</p>
                    <p>It often happens that after opening a transaction today, you cannot or do not want to close it
                        with a profit, which
                        creates the need to extend the settlements for the open position to a later date. This operation
                        is called a
                        position roll-over, and intermediaries (banks) charge a certain commission for its execution - a
                        <span class="orange"> SWAP</span> . In
                        real conditions of the interbank Forex market, the amount of the roll-over commission depends on
                        the difference in
                        current rates for holding each of the currencies involved in the transaction. At the same time,
                        the position
                        roll-over can even bring profit.
                    </p>
                    <p>When working under margin trading conditions, the trader deposits collateral with the
                        intermediary, which serves as
                        security for the settlements of transactions. At the same time, the bank providing Forex trading
                        services constantly
                        calculates the current result of the transactions opened by the client to avoid a situation
                        where the client's
                        losses exceed the deposited amount. Thus, if the client's losses reach a certain level, the bank
                        either
                        automatically and forcibly closes the open positions or issues a requirement for additional
                        funds to be deposited.
                    </p>
                    <p>This requirement to deposit funds is called a <span class="orange">margin-call</span>. Different
                        banks-market makers have
                        different account
                        balance levels at which a margin-call or forced closure occurs, ranging from 10 to 40 percent of
                        the total deposit
                        amount. A large deposit with a balanced strategy and transaction volumes allows better holding
                        temporarily
                        unprofitable positions and provides a margin of safety in case of temporary unfavorable rate
                        fluctuations.</p>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/en/trading/currencyposition"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/en/trading/howtomakemoney"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>