<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Пін бар - Грааль трейдингу</span>
                    </h1>
                    <p>Привіт усім! Мене звати Ігор Арапов. Сьогодні ми поговоримо про Пін-бари — це найпопулярніша
                        фігура в японських
                        свічках, і я хочу приділити їй більше уваги. Раніше я розповідав про <strong
                            class="orange">"Японські
                            свічки"</strong>, що це за вид графіка і чому вони популярні. Там я трохи торкнувся теми
                        фігури "молот".</p>
                    <h3 class="orange">Молот</h3>
                    <p>Мабуть, є ключовою фігурою в японських свічках, про неї розповіли найбільше.
                        Детальніше про цю фігуру я розповідаю у відео <a
                            href="https://youtu.be/TDuSmXiM_Vk?si=eB4MpYe9FSxrDTsY" class="orange dec">тут</a>.
                        У цій статті я також приділю максимум часу цій фігурі, бо це дуже потужний патерн у трейдингу,
                        який, якщо
                        використовувати його правильно, принесе вам багато користі. Отже, давайте почнемо.</p>
                    <p>Перше, що потрібно зрозуміти: японські свічки дуже популярні, бо про них багато сказано у книгах.
                        Бари, які зазвичай
                        використовуються у об'ємному аналізі, не отримали такої популярності. Об'ємний аналіз сам по
                        собі не є популярним
                        видом аналізу ринку. Технічний аналіз ринку, тобто цінові фігури та патерни, найпопулярніший,
                        звідси й перевага
                        японських свічок перед барами. Але це не більше ніж перевага. Можна використовувати як японські
                        свічки, так і бари з
                        такою ж ефективністю. Кожен трейдер із часом сам приймає рішення, який графік використовувати —
                        японські свічки чи
                        бари. Я особисто використовую бари, але це неважливо, це справа смаку.</p>
                    <h3 class="orange">Пін-бар або ап-траст</h3>
                    <p>В об'ємному аналізі — це бар з хвостиком. Дуже важливо зрозуміти, що Пін-бар є баром-пасткою,
                        тобто ринок Пін-баром
                        ловить учасників, змушуючи їх заходити на невірну сторону ринку. Звідси й назва <strong
                            class="orange">"Піноккіо-бар"</strong> або <strong class="orange">"я тебе обдурив"</strong>.
                        Щоб не бути
                        обдуреним ринком, потрібно розуміти поточний тренд на ринку. Основне застосування Пін-бара —
                        натякнути, куди буде
                        розвиватися локальний тренд. Пін-бар формується на графіку під дією попиту і пропозиції.
                        Аналізуючи зусилля попиту
                        або пропозиції, ми можемо зрозуміти, хто на ринку слабший, а хто сильніший. Кожного разу, коли
                        ви бачите тіні зверху
                        і ціна знижується, можна бути впевненим, що покупець слабкий. Слабкість покупця визначається
                        тим, що він намагався
                        підняти ціну, але у нього нічого не вийшло, і пропозиція в цьому діапазоні затопила попит. Тому
                        Пін-бар є важливим
                        сигналом, який показує, куди розвивається тенденція. Ніколи не можна сперечатися з тенденцією,
                        оскільки тенденція
                        може розвиватися до локального рівня підтримки або піти значно ниже. Якщо ви будете працювати
                        проти тренду, у вас
                        виникнуть великі проблеми. Завжди орієнтуйтеся на Пін-бари як на сигнали в тренді. Це завжди
                        вершини ринку, тобто в
                        будь-якому тренді, якщо ми говоримо про ведмежий тренд, вони будуть вершинами. За цими тінями
                        можна ставити
                        стоп-лосс, який обмежує ваш ризик, якщо ви заходите в продаж.</p>
                    <p>На жаль, на новинах Пін-бари часто обманюють ринок, оскільки на новинах велика волатильність,
                        стакан заявок спорожніє
                        і ці фігури там працюють погано. Тому під час новин їх краще не застосовувати. Але коли ринок
                        ліквідний, тобто коли
                        стакан заявок повний і йде нормальна торгова сесія, ці фігури є чудовим сигналом, який вказує,
                        куди розвивається
                        тренд.</p>
                    <p>У даному прикладі ми розглядаємо золото. Видно за обсягами, що покупець намагався відкупити
                        продажі. Кожного разу
                        покупець намагається щось зробити, дає хвилі вгору, намагаючись підняти золото, але кожна хвиля
                        закінчується
                        Пін-баром. Це говорить про те, що рівень, швидше за все, буде пробитий вниз і ціна піде нижче.
                    </p>
                    <p>У об'ємному аналізі ми можемо відкрити коротку угоду, виставити стоп за Пін-баром і чекати
                        зниження до найближчої
                        підтримки. Я сподіваюсь, що в цьому прикладі я пояснив, як використовувати Пін-бар.</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/freestudying/purchasingcourses"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <!-- <a href="https://arapov.trade/uk/freestudying/pinbar"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a> -->


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>