<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Психологічні ризики FOREX</span>
                    </h1>

                    <p>Іншим важливим ризиком, пов'язаним з торгівлею на валютному ринку FOREX, є психологічні фактори,
                        пов'язані з
                        людськими емоціями, надіями та переживаннями. Під час торгівлі на FOREX кожна людина відчуває
                        безліч емоцій, з яких
                        найбільш небезпечними є страх і жадібність. Саме страх зазнати невдачі і втратити свої гроші
                        змушує багатьох тримати
                        збиткові позиції, сподіваючись на те, що рух ціни зміниться і вдасться закрити позицію в плюсі.
                        Замість того щоб
                        втратити трохи, зберігши при цьому свій депозит, багато хто чекає на зміни, збільшуючи свої
                        втрати. Чим вищі втрати,
                        тим важче їх визнати і погодитися з ними, в результаті чого це може призвести до втрати всього
                        депозиту.</p>
                    <p> <span class="orange">Жадібність</span> — не менш небезпечна на FOREX, ніж страх. Жадібність
                        змушує людину здійснювати
                        імпульсивні вчинки:
                        відкривати позиції нераціонально, боячись упустити можливість швидко отримати прибуток. Після
                        невдалої угоди
                        жадібність змушує торгувати ще більше, в надії швидше відшкодувати свої втрати, що своєю чергою
                        неминуче веде до
                        нових помилок і так далі. Іншими словами, торгівля під впливом емоцій рано чи пізно призводить
                        до втрати всіх
                        грошей.</p>
                    <p>Боротися з психологічними ризиками можна: залишайтеся холоднокровними за будь-якої ситуації,
                        керуючись під час
                        укладання угод розумом, а не емоціями. Для торгівлі на валютному ринку потрібно використовувати
                        тільки ті кошти, які
                        можна дозволити собі витратити без тяжких наслідків; ніколи не торгуйте на кошти, взяті в борг
                        або в кредит.
                        Підготовлений торговий план і чітке його дотримання допоможуть уникнути безлічі ризиків. Завжди
                        використовуйте
                        захисні ордери. Не забувайте, що надприбуток безпосередньо пов'язаний із надризиками; головна
                        мета — це <span class="orange">стабільність</span>
                        .</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/trading/nonmarketrisks"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/trading/howtotradeonforex"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>