<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Separation of trading systems. Duration of
                            the transaction</span>
                    </h1>

                    <h2 class="orange"> Intraday Trading Systems</h2>
                    <p>Trades usually last no more than one day. A prominent example of this approach is "scalping".</p>
                    <span class="orange">Pros:</span>

                    <ul>
                        <li>Short stops.</li>
                        <li>A large deposit is not necessary to start trading.</li>
                        <li>A greater potential for profit compared to other approaches.</li>
                        <li>More precise execution of individual movements.</li>
                    </ul>
                    <span class="orange">Cons:</span>

                    <ul>
                        <li>More stressful work — the trader is mostly constantly near the trading terminal, making it
                            difficult to plan
                            their time.</li>
                        <li>Trades with good medium-term or long-term potential are closed at the end of the day in the
                            hope of re-entering
                            the same direction tomorrow.</li>
                        <li>A large number of trades can bring not only more profit but also increased risks.</li>
                    </ul>
                    <h2 class="orange"> Medium-Term Trading Systems</h2>
                    <p>Trades last from several days to several weeks.</p>
                    <span class="orange">Pros:</span>


                    <ul>
                        <li>Work is conducted at a more relaxed pace.</li>
                        <li>The trader is less tied to the computer.</li>
                        <li>This approach allows the trader to pursue other activities.</li>
                    </ul>
                    <span class="orange">Cons:</span>


                    <ul>
                        <li>Increased stop sizes.</li>
                        <li>Market reactions to important news can instantly nullify the trader's work over several
                            days.</li>
                        <li>Average earnings are generally lower than those of short-term traders.</li>
                    </ul>
                    <h2 class="orange"> Long-Term Trading Systems</h2>
                    <p>Trades last from several weeks to several months. The trader essentially turns from a speculator
                        into an investor.
                    </p>
                    <span class="orange">Pros:</span>


                    <ul>
                        <li>The trader has enough time to analyze the market and make trading decisions.</li>
                        <li>The trader can fully dedicate themselves to other activities.</li>
                    </ul>
                    <span class="orange">Cons:</span>


                    <ul>
                        <li>A relatively large deposit is required.</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/en/trading/tradingsystem"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/en/trading/tradingsystemautomation"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>