<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Види ордерів на біржі</span>
                    </h1>

                    <p>Привіт всім! Сьогодні ми поговоримо про важливу тему – типи та види ордерів. Цю тему я вже
                        порушував у попередніх
                        статтях про ціноутворення та ліквідність і рекомендую всім з ними ознайомитися. Тому зараз більш
                        докладно
                        розглянемо, які бувають ордери, як вони впливають на ціну та формування біржового стакана.</p>

                    <p>Розуміння цих елементів, які називаються мікроструктурою ринку, необхідне для введення в об'ємний
                        аналіз ринку. Без
                        розуміння того, про що ми поговоримо сьогодні, неможливо аналізувати обсяги, шукати розумні
                        гроші чи великих
                        гравців. Отже, почнемо.</p>

                    <p>Як я вже казав, ціна на ринку завжди формується двома сторонами учасників. З одного боку продавці
                        (ціна аск або
                        оффер), з іншого боку — покупці (ціна бид). У стакані ціна бид показує рівень, за яким покупці
                        готові купити актив,
                        наприклад, біткойн. Значення в колонці бид зазвичай змінюються дуже швидко, особливо під час
                        активної торгівлі та
                        новин, коли ажіотаж високий.</p>

                    <p>Важливо розуміти, що стакан ми розглядаємо як момент часу, ніби заморозили ринок та аналізуємо,
                        що було в цей момент.
                        У стакані за ціною є певна кількість ордерів, що очікують виконання (ціна покупця), і в колонці
                        аск/оффер — ордери
                        продавців. Лімітні ордери зводяться з ринковими. Для того щоб продавець міг продати товар за
                        ринковою ціною, повинен
                        бути покупець, який, використовуючи ринковий ордер, купить актив за цією ціною та обсягом.</p>

                    <h3 class="orange">Типи ордерів</h3>
                    <p>Щоб звести ці типи ордерів, нам потрібні два типи ордерів. Може бути, це здається складним, але я
                        спробую пояснити. З
                        одного боку, у нас є відкладені ордери, які знаходяться в стакані, а з іншого — ринкові ордери,
                        які виконуються тут
                        і зараз. Ринковий наказ має виконатися за ринковою ціною моментально. Відкладені ордери
                        поділяються на лімітні,
                        стоп-лімітні та стопові, але ринкові ордери мають лише два значення: купити та продати, і
                        виконуються максимально
                        швидко. Відкладений ордер може бути виконаний, а може і не бути.</p>

                    <h3 class="orange">Вплив на ціну</h3>
                    <p>За тим, як вони впливають на ціну, лімітні ордери покупців є підтримкою знизу, а лімітні ордери
                        продавців — опором
                        зверху. Це фактично відображення рівнів на графіку, тільки між ними спред може змінюватися.</p>

                    <p>Ринкові покупці з байстопами намагаються пробити опір та підняти ціну, а ринкові продавці з
                        селлстопами намагаються
                        пробити підтримку та знизити ціну. Ось такий характер впливу ринкових ордерів на поточну ціну.
                        Відповідно, якщо
                        трейдер аналізує попит та пропозицію, формування обсягів та інше, він може визначати за
                        стаканом, скільки покупців і
                        продавців є зараз і в який бік буде спрямований дисбаланс. Це дає величезну перевагу перед тими,
                        хто просто дивиться
                        на ціну або використовує індикатори.</p>

                    <h3 class="orange">Відкладені ордери</h3>
                    <p>Про відкладені ордери додам таке. Вони використовуються не лише для наповнення стакана, а й як
                        метод фіксації
                        прибутку. Великі гравці, які купують товар дешево і хочуть продати дорожче, використовують
                        лімітні ордери. Великі
                        гравці купують на падінні лімітними ордерами, щоб не впливати на ціну, тому що ринкові ордери
                        завжди впливають на
                        ціну. Якщо заявки дуже великі, то великий гравець отримає погану ціну виконання. Тому вони
                        намагаються купувати та
                        продавати лімітними ордерами. Вони купують у дрібних учасників, які масово продають на пробої
                        рівня, даючи
                        можливість великим гравцям купувати чи фіксувати прибуток.</p>

                    <p>І навпаки, на зростанні ринку великий гравець може продати дрібним учасникам, які активно
                        купують. У цій технології є
                        фаза накопичення та фаза дистриб'юції, які використовуються в об'ємному аналізі для визначення
                        потенційних
                        розворотних точок.</p>

                    <p>Рекомендую розібратися, як формується ціна на ринку, що таке оффер і бид, як ринкові ордери
                        зводяться з цими ордерами
                        і яку інформацію це дає для визначення майбутньої ціни і перспектив великих гравців.</p>


                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>