<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Имбаланс в трейдинге</span>
                    </h1>

                    <p>Всем привет! Меня зовут Игорь Арапов, и сегодня мы поговорим про имбаланс на рынке. Это
                        популярная тема, о которой
                        много видео. Имбаланс связан с точками разворота тренда и тем, как происходит глобальный
                        разворот. Название говорит
                        само за себя: был баланс, а потом его не стало. Если вы хотите улавливать развороты тенденций,
                        нужно научиться
                        видеть эти моменты на графике.</p>

                    <h3 class="orange">Поиск баланса на графике</h3>
                    <p>Для начала нужно найти баланс на графике. Это поможет понять, как рынок переходит из спокойного
                        состояния в имбаланс,
                        то есть в тренд. Вам нужно увидеть флэт — это когда ордера и объемы сосредоточены в одном
                        диапазоне. Важно, чтобы в
                        этом диапазоне закончился один из участников.</p>

                    <p>Основой любого бычьего тренда является дефицит предложения. Умные участники покупают на падениях,
                        понимая стоимость.
                        Но рано или поздно в их диапазоне заканчиваются продавцы, и они вынуждены повышать цену, чтобы
                        покупать. Это и есть
                        логика имбаланса: когда объёмы в диапазоне высокие, можно покупать лимитными ордерами, не влияя
                        на цену. Но когда
                        объёмы заканчиваются, крупные покупатели вынуждены повышать цену, чтобы получить дефицитную
                        ликвидность. Это
                        приводит к изменению тренда.</p>

                    <p>Имбаланс обычно является паттерном разворота, и его важно искать на уровнях. На уровнях стоимости
                        происходит фаза
                        накопления, после которой меняется тренд.</p>






                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Больше о трейдинге можно узнать на моем канале <span class="orange">YouTube</span>. Переходи и подписывайся.</p>

</div>
<section class="separator">
    <div class="line"></div>
</section>