<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Trading System</span>
                    </h1>


                    <p>An essential topic for any future trader, as I mentioned earlier, having a trading system creates
                        a stable income
                        from the market. Without it, trading would be like playing a "casino game" where the winner is,
                        of course, the
                        casino. Below are the main types of trading systems, the categories they fall into, and how they
                        differ from each
                        other. Their pros and cons. In my courses, I teach a "trend trading system".</p>
                    <p>A trading system is a set of decision-making rules (trading or analytical) based on the signals
                        of the market
                        analysis tools used by the trader.</p>
                    <p>A trading system should answer the following questions:</p>
                    <ul>
                        <li>What is happening in the market right now?</li>
                        <li>What might happen in the time frame that interests the trader?</li>
                        <li>What should the trader do at any given moment?</li>
                    </ul>
                    <h2 class="orange">Classification of Trading Systems by Tactics of Making Trades</h2>
                    <h3 class="orange">Trend-Following Trading Systems</h3>
                    <p>For these trading systems, the main goal is to identify the trend and recognize the signs of the
                        end of a correction.
                        They widely use tools and patterns of technical and wave analysis, trend-following indicators,
                        and oscillators.
                        Trades are mainly made "from pullbacks".</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/39pic1.png" alt="starter">
                        <div class="img_content">
                            Pros:

                            <ul>
                                <li>Large profit range; relatively small stops;</li>
                                <li>The trading system allows confidently increasing open positions.</li>
                            </ul>
                            Cons:

                            <ul>
                                <li>The trader usually doesn't immediately recognize a trend change, so the main losses
                                    occur
                                    during reversals.</li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="orange">Trading Systems Operating on Breakouts of "Support" and "Resistance" Levels</h3>
                    <p>These trading systems generally place the significance of trend direction in the background. The
                        main rule here is
                        the breakout of "support" and "resistance" levels as the primary signal of the emergence or
                        development of a trend.
                    </p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/39pic2.png" alt="starter">
                        <div class="img_content">
                            Pros:

                            <ul>
                                <li>The trading system provides the most reliable signals of trend formation and
                                    possible
                                    boundaries of its end.
                                </li>
                            </ul>
                            Cons:

                            <ul>
                                <li>False breakouts of "support" and "resistance" levels, especially in highly volatile
                                    markets,
                                    are the main
                                    problem of such trading systems.</li>
                            </ul>
                        </div>
                    </div>

                    <h3 class="orange">Trading Systems Operating Inside a Price Corridor</h3>
                    <p>For such a trading system, the main goal is to identify the formation of a sideways flat. Trades
                        here are made from
                        one border of the flat to the other. These trading systems widely use oscillators with
                        "oversold" and "overbought"
                        zones, such as the stochastic oscillator.</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/39pic3.png" alt="starter">
                        <div class="img_content">
                            Pros:

                            <ul>
                                <li>The trading system allows earning where the majority of traders lose.</li>
                            </ul>
                            Cons:

                            <ul>
                                <li>It is difficult to timely identify the end of the flat.</li>
                                <li>The trader misses the main price movement range by trend.</li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>