<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">World Stock Indices</span>
                    </h1>



                    <h3 class="orange">Dow Jones Industrial Average</h3>
                    <p>The industrial index of shares of 30 leading US corporations. Sometimes the composition is
                        rotated based on the level
                        of capitalization (amounts of equity). This is probably the most popular index in the world. It
                        includes 30 of the
                        largest US companies from various industries: finance, transportation, consumer, food, and
                        industrial sectors. The
                        index includes well-known companies worldwide: Coca-Cola, IBM, Intel, Microsoft, General Motors,
                        and others.</p>

                    <h3 class="orange">Standard and Poor's 500 Index (S&P 500)</h3>
                    <p>A capitalization-weighted index calculated from the shares of 500 leading US corporations.
                        Therefore, the index
                        itself can be used to judge the state of the country's economy, as it covers all major sectors
                        of the country.</p>

                    <h3 class="orange">NASDAQ-100</h3>
                    <p>An index of over-the-counter stocks. The shares are mainly of companies in the high-tech sector.
                    </p>

                    <h3 class="orange">FTSE 100</h3>
                    <p>An index of the top 100 corporations in the UK. It is the most respected and quoted index on
                        European platforms. It
                        includes the 100 largest companies traded on the London Stock Exchange.</p>

                    <h3 class="orange">Nikkei 225</h3>
                    <p>A Japanese index that includes 225 companies. The composition is reviewed annually. It includes
                        giants such as Honda,
                        Panasonic, Mazda, and others. With a probability of 99.9%, all Japanese brands you know are
                        included in the Nikkei
                        225. Similar to the S&P 500, it quite objectively reflects the state of the economy. It is the
                        most important index
                        in the Asian region.</p>

                    <h3 class="orange">DAX</h3>
                    <p>A German stock index that includes the 30 most important companies in the country: Adidas, BMW,
                        Henkel, Volkswagen,
                        and others.</p>

                    <h3 class="orange">CAC 40</h3>
                    <p>A French stock index that includes the 40 largest companies traded on the Paris Stock Exchange:
                        Renault, L'Oréal.</p>

                    <h3 class="orange">MICEX and RTS</h3>
                    <p>Two stock indices that include the 50 most liquid and largest companies in Russia. The index
                        includes giants such as
                        Gazprom, Rosneft, Lukoil, Sberbank, Magnit, etc.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>