<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Стоп-ордер</span>
                    </h1>
                    <h3 class="orange">Стоп-ордер</h3>
                    <p>Стоп-ордер (stop order) — это заявка на покупку или продажу определённого количества актива по
                        указанной цене или
                        хуже.</p>
                    <p>Стоп-ордер на покупку (buy stop) — это заявка на покупку по указанной цене или выше. Трейдер
                        использует этот ордер,
                        когда надеется, что цена, при своём движении вверх, достигнув заданного уровня, продолжит
                        возрастать. Ордер buy stop
                        выставляется по цене, которая выше текущей рыночной. На биржевом рынке, как только цена
                        последней сделки (Last)
                        станет равна или превысит цену, заданную в ордере buy stop, он тут же превращается в рыночный
                        (market) ордер на
                        покупку и исполняется на тех же условиях, что и все остальные рыночные заявки. На FOREX для
                        срабатывания ордера buy
                        stop необходимо, чтобы цена Ask оказалась равна или больше той цены, которая указана в этом
                        ордере.</p>
                    <p>Стоп-ордер на продажу (sell stop) — это заявка на продажу по указанной цене или ниже. Трейдер
                        использует этот ордер,
                        когда надеется, что цена, при своём движении вниз, достигнув заданного уровня, продолжит падать.
                        Ордер sell stop
                        выставляется по цене, которая ниже текущей рыночной. На биржевом рынке, как только цена
                        последней сделки (Last)
                        станет равна или меньше цены, заданной в ордере sell stop, он тут же превращается в рыночный
                        (market) ордер на
                        продажу и исполняется на тех же условиях, что и все остальные рыночные заявки. На FOREX для
                        срабатывания ордера sell
                        stop необходимо, чтобы цена Bid оказалась равна или меньше той цены, которая задана в данном
                        ордере.</p>
                    <p>Стоп-ордер используют как для открытия позиции, так и для выхода из неё. В последнем случае
                        стоп-ордер используется в
                        качестве защитного ордера, ограничивающего убытки (stop loss): ордер buy stop обеспечивает
                        защиту короткой позиции
                        (продажи), а ордер sell stop — защиту длинной позиции (покупки).</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/trading/marketorder"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/trading/requotes"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>