<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Technical Market Analysis. Main Types of
                            Chart </span>
                    </h1>




                    <h3 class="orange">Bar Chart</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar1pic.jpg" alt="starter">

                    <p>Each bar has four indicators:</p>
                    <ul>
                        <li>The "Opening Price" is always on the left.</li>
                        <li>The "Closing Price" is on the right.</li>
                        <li>The bar tail shows the "Lowest Price" for the bar's time period.</li>
                        <li>The top shows the "Highest Price".</li>
                    </ul>


                    <h3 class="orange">Candlestick Chart</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar2pic.jpg" alt="starter">

                    <p>The difference between the "Candlestick Chart" and the "Bar Chart" is that the candle body shows
                        the closing
                        direction of the price. It is colored depending on the display settings, from the "opening
                        price" to the "closing
                        price".</p>

                    <h3 class="orange">Line Chart</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar3pic.jpg" alt="starter">

                    <p>The name already conveys the essence, the price change chart is expressed as a line, where each
                        new point is the
                        "closing price" for a certain period.</p>

                    <h3 class="orange">Main Types of Trends in the Market</h3>

                    <h3 class="orange">"Bullish" Trend (Uptrend)</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar4pic.jpg" alt="starter">

                    <p>If you connect two consecutive low points on the chart (points that correspond to support
                        levels), and you get a line
                        with a positive slope (directed from the bottom left to the top right corner of the chart), this
                        line is called the
                        support line of the uptrend. If the subsequent low points are also on this line, the support
                        line becomes more
                        significant for the market. The more low points are near the support line, the more likely the
                        subsequent low points
                        will also be near this line. In the example of the USD/JPY quote, the thick line is the support
                        line.</p>

                    <h3 class="orange">"Bearish" Trend (Downtrend)</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar5pic.jpg" alt="starter">

                    <p>The situation with the downtrend is similar. If you connect two consecutive high points on the
                        chart (points that
                        correspond to resistance levels), and you get a line with a negative slope (directed from the
                        top left to the bottom
                        right corner of the chart), this line is called the resistance line of the downtrend. The
                        resistance line
                        essentially defines the downtrend. If you draw a line parallel to the resistance line through
                        the lowest point on
                        the chart, both lines define the down channel.</p>

                    <p>The example of the USD/JPY quote chart shows the resistance line as a thick line. This line,
                        together with the
                        parallel dashed line passing through the lowest point on the chart, forms a down channel. You
                        can also see that the
                        price approached the resistance line several times and bounced off it, confirming the
                        established downtrend.</p>

                    <p>Trading in the down channel is similar to trading in the uptrend — you need to buy currency at
                        the lower boundary of
                        the channel and sell currency at the upper boundary. It is important to understand that any
                        downtrend will
                        eventually reverse, so it is important not to miss the trend reversal signal.</p>

                    <h3 class="orange">"Sideways" Trend</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar6pic.jpg" alt="starter">

                    <p>which is sometimes called a "flat", is characterized by no noticeable upward or downward trend.
                        In this case, the
                        price fluctuates, but it is not possible to determine the support line of an uptrend or the
                        resistance line of a
                        downtrend. On the chart, this situation appears as a horizontal range (sideways channel) and is
                        represented by two
                        parallel horizontal lines between which the price fluctuates. The horizontal range is shown in
                        the example of the
                        USD/JPY quote.</p>

                    <p>Trading within the horizontal range is undesirable as a clearly defined trend has not yet formed,
                        and it is easy to
                        open a position in the wrong direction. The horizontal range can be understood as an equal
                        confrontation between
                        "bulls" and "bears". The longer this confrontation lasts, the stronger the subsequent price
                        breakout will be in one
                        direction or another, forming an uptrend or downtrend. The horizontal range is often observed on
                        hourly charts of
                        weekends and holidays when trading in the market is almost non-existent.</p>

                    <p>Trend periods can be short-term, medium-term, and long-term.</p>

                    <h3 class="orange">Level</h3>
                    <p>is a horizontal line drawn through the area of values where the price changed its direction.</p>

                    <ul>
                        <li><strong>Support Level (SUP)</strong> — a line drawn through the minimum price values from
                            below.</li>
                        <li><strong>Resistance Level (Res)</strong> — a line drawn through the maximum price values from
                            above.</li>
                    </ul>
                    <img class="pictureImg" src="/assets/img/content/28ar7pic.jpg" alt="starter">

                    <p>Support and resistance levels are very important in the technical analysis of the FOREX market.
                        The more often the
                        price returns to a certain level, the more significant this level is for the market. This is
                        explained by the
                        psychology of traders who attach more importance to a level if it is confirmed by the price
                        returning to it over
                        time.</p>

                    <p>It often happens that if the support level is broken, it becomes the new resistance level. Or if
                        the resistance level
                        is broken, it becomes the new support level. The example of the USD/JPY quote chart shows the
                        support and resistance
                        levels.</p>

                    <p>The first level from the bottom is the support level and has been confirmed by the market twice.
                        The same can be said
                        about the second level from the bottom.</p>

                    <p>Note that the third level from the bottom is initially a resistance level and later becomes a
                        support level. The
                        fourth level from the bottom is a resistance level and has also been confirmed by the market
                        twice.</p>

                    <p>It is important to understand that support and resistance levels are not exact values, and their
                        determination is a
                        creative task. Each trader determines the criteria for defining levels in their own way.</p>

                    <p>A level is considered broken if the closing price of the trading period breaks this level.
                        However, historical data
                        on FOREX currency quotes shows many examples where the closing price broke the level but
                        returned to it in
                        subsequent trading periods. Therefore, breaking levels alone is not a buy or sell signal — other
                        technical analysis
                        tools must also signal for such a decision.</p>

                    <p>To trade successfully on FOREX, technical analysis tools must be used in accordance with the
                        current situation.</p>







                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/en/trading/technicalanalysis"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/en/trading/keypricepattern"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>