<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Основні цінові фігури в технічному
                            аналізі</span>
                    </h1>



                    <p>Багато трейдерів напевно чули про таке поняття, як "price action" або аналіз за допомогою
                        японських свічок. Але
                        графічний метод прогнозування дуже багатий і пропонує альтернативу наведеним вище видам аналізу.
                        Йдеться про такі
                        поняття, як фігури розвороту і продовження тренду.</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/29art1picuk.jpg" alt="starter">

                    </div>

                    <h3 class="orange">Фігури продовження тренду</h3>
                    <p>До фігур продовження тренду можна віднести, в першу чергу, прапор і вимпел. Ці моделі досить
                        легко визначаються на
                        графіку FOREX. Їхньою відмінною особливістю є те, що вони з'являються після досить сильних
                        імпульсів в одному
                        напрямку.</p>

                    <p>Для тих, хто не знайомий з фігурами продовження тренду, наприклад, із прапором, вони можуть
                        здатися пасткою. Багато
                        початківців трейдерів часто потрапляють у такі пастки на FOREX, приймаючи прапор за сигнал
                        розвороту тренду.
                        Насправді прапор вказує на тимчасову консолідацію ринку і підготовку до продовження руху за
                        трендом.</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/29art2picuk.jpg" alt="starter">

                    </div>
                    <h3 class="orange">Фігури розвороту тренду</h3>
                    <p>Вибір "price action" патернів із цієї категорії набагато різноманітніший. Сюди належать різні
                        клини, голова та плечі,
                        подвійне/потрійне дно/вершина. Усі ці моделі об'єднує те, що за їхнього формування трейдер уже
                        має уявлення про
                        подальший рух ринку. Фігури розвороту тренду на ринку FOREX підказують про можливу корекцію цін
                        найближчим часом.
                    </p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/29art3picuk.jpg" alt="starter">

                    </div>
                    <p>Про що важливо пам'ятати під час роботи з такого роду патернами? Насамперед про те, що у них є
                        свої правила
                        формування. Якщо трейдер FOREX уважно стежитиме за ними, його чекає успіх. Однак відхилення від
                        них може стати
                        причиною значних провалів і збитків. До того ж професіонали не рекомендують торгівлю всередині
                        патернів, віддаючи
                        перевагу чітким сигналам про закінчення їхнього формування і початку відпрацювання.</p>

                    <p>У чому переваги та недоліки використання такого роду патернів у роботі? До переваг можна
                        віднести, наприклад, те, що
                        вони дають змогу працювати в різних ринкових умовах на FOREX. Тобто, це фактично альтернатива,
                        яка дає змогу
                        створювати власні торгові стратегії на FOREX, спираючись тільки на свої сили. Ще одна перевага
                        патернів полягає в
                        тому, що вони з'являються на різних таймфреймах і можуть використовуватися під час роботи з
                        будь-якими фінансовими
                        інструментами. Незалежно від того, яким саме активом користується трейдер, графічний аналіз на
                        FOREX дає змогу
                        знаходити прибуткові точки для входу.</p>

                    <p>З іншого боку, у цього методу прогнозування коливань котирувань є і свої суттєві недоліки. Один з
                        головних — це
                        суб'єктивність під час оцінки графіка. Річ у тім, що патерни практично ніколи не з'являються в
                        їхньому класичному
                        вигляді, що веде до розбіжностей. Два трейдери, дивлячись на один і той самий графік, можуть
                        бачити абсолютно різну
                        картину. Окрім суб'єктивності, є ще й фактор очікування. Не кожен дочекається моменту, коли
                        патерн сформується до
                        кінця для того, щоб ухвалити рішення. Багато трейдерів починають працювати всередині моделей, що
                        в результаті може
                        призвести до дуже негативних наслідків. До того моменту, як патерн дасть остаточний сигнал,
                        трейдер просто не може
                        знати, чи справді буде його відпрацювання чи ні. Відомі випадки, коли моделі "ламалися" на
                        завершальній стадії
                        їхнього формування.</p>




                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>