<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Психологические риски FOREX</span>
                    </h1>


                    <p>Другим важным риском, связанным с торговлей на валютном рынке FOREX, являются психологические
                        факторы, связанные с
                        человеческими эмоциями, надеждами и переживаниями. При торговле на FOREX каждый человек
                        испытывает множество эмоций,
                        из которых наиболее опасными являются страх и жадность. Именно страх потерпеть неудачу и
                        потерять свои деньги
                        заставляет многих держать убыточные позиции, надеясь на то, что движение цены изменится и
                        удастся закрыть позицию в
                        плюсе. Вместо того чтобы потерять немного, сохранив при этом свой депозит, многие ждут перемен,
                        увеличивая свои
                        потери. Чем выше потери, тем труднее их признать и согласиться с ними, в результате чего это
                        может привести к потере
                        всего депозита.</p>
                    <p><span class="orange">Жадность</span> — не менее опасна на FOREX, чем страх. Жадность заставляет
                        человека совершать
                        импульсивные поступки:
                        открывать позиции нерационально, боясь упустить возможность быстро получить прибыль. После
                        неудачной сделки жадность
                        заставляет торговать еще больше, в надежде быстрее возместить свои потери, что в свою очередь
                        неизбежно ведет к
                        новым ошибкам и так далее. Другими словами, торговля под воздействием эмоций рано или поздно
                        приводит к потере всех
                        денег.</p>
                    <p>Бороться с психологическими рисками можно: оставайтесь хладнокровными при любой ситуации,
                        руководствуясь при
                        совершении сделок разумом, а не эмоциями. Для торговли на валютном рынке нужно использовать
                        только те денежные
                        средства, которые можно позволить потратить без тяжелых последствий; никогда не торгуйте на
                        средства, взятые в долг
                        или в кредит. Подготовленный торговый план и четкое его соблюдение помогут избежать множества
                        рисков. Всегда
                        используйте защитные ордера. Не забывайте, что сверхприбыль напрямую связана со сверхрисками;
                        главная цель — это
                        <span class="orange">стабильность</span>.
                    </p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/trading/nonmarketrisks"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/trading/howtotradeonforex"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>