<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Cвечные паттерны в Price Action</span>
                    </h1>



                    <p>Всем привет! Меня зовут Игорь Арапов. Сегодня я хочу поговорить о паттернах <strong
                            class="orange">Price
                            Action</strong>, а именно
                        о <strong class="orange">“бычьем”</strong> и <strong class="orange">“медвежьем”
                            поглощении</strong>.</p>

                    <p>Эта статья предназначена для новичков, так как технический анализ <strong class="orange">“Price
                            Action”</strong>
                        очень популярен среди начинающих трейдеров. В отличие от фундаментального анализа или анализа
                        <strong class="orange">“Smart Money”</strong>, большинство новичков начинают с <strong
                            class="orange">“Price
                            Action”</strong>. Поэтому в этом видео мы обсудим плюсы и минусы <strong
                            class="orange">“Price Action”</strong>,
                        почему я им не пользуюсь и что нужно понимать новичкам.
                    </p>

                    <p>Для начала, <strong class="orange">“Price Action”</strong> - это ценовые паттерны. Мы должны
                        найти определенные
                        формации на графике и использовать их. На примере евро-доллара, я нарисовал два уровня. Эти
                        уровни образуют
                        диапазон. На нижней границе три раза было <strong class="orange">бычье поглощение</strong>.</p>

                    <p><strong class="orange">“Бычье” поглощение</strong> - это паттерн, который состоит из двух баров.
                        Первый бар - <strong class="orange">“медвежий”</strong>, второй бар - <strong
                            class="orange">“бычий”</strong>, полностью
                        перекрывающий тело первого бара. Например, маленький "down bar" (бар вниз) и за ним бычья свеча
                        с закрытием выше.
                        Это и есть <strong class="orange">бычье поглощение</strong>.</p>

                    <p><strong class="orange">“Медвежье” поглощение</strong> наоборот: <strong
                            class="orange">“бычья”</strong> свеча и за
                        ней <strong class="orange">“медвежья”</strong> свеча, которая закрывается ниже. Эти паттерны
                        сами по себе мало что
                        значат, потому что внутри диапазона можно увидеть и <strong class="orange">“бычье”</strong>, и
                        <strong class="orange">“медвежье” поглощение</strong>. Если реагировать на каждый паттерн, можно
                        просто устать от
                        постоянного выхода и перезахода в позиции.
                    </p>

                    <p>На уровнях же эти паттерны имеют значение. Почему? В объемном анализе я уже говорил, что <strong
                            class="orange">объем</strong> - это реакция на цену. Участники видят диапазоны и уровни, где
                        цена не может
                        пройти ниже несколько раз. Это вызывает у них желание купить на этих уровнях, потому что они
                        считают эту цену самой
                        дешевой на рынке.</p>

                    <p>Паттерн <strong class="orange">”бычьего” поглощения</strong> на уровне может привести к хорошему
                        <strong class="orange">“бычьему”</strong> движению, потому что здесь есть интерес участников и
                        ордера исполняются. Цена
                        отскакивает от уровня, где нет предложения, а значит, покупатели вынуждены поднимать цену всё
                        выше.
                    </p>

                    <p>Это пример логики <strong class="orange">“Price Action”</strong>, которую нужно использовать и
                        понимать. Но не
                        используйте её в отрыве от уровней, иначе будут большие проблемы.</p>




                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Больше о трейдинге можно узнать на моем канале <span class="orange">YouTube</span>. Переходи и подписывайся.</p>

</div>
<section class="separator">
    <div class="line"></div>
</section>