<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Розподіл торгових систем. Тривалість угоди
                        </span>
                    </h1>

                    <h2 class="orange"> Внутрішньоденні торгові системи</h2>
                    <p>Угоди, як правило, тривають не більше одного дня. Яскравим представником такого підходу є
                        «скальпінг».</p>
                    <span class="orange">Плюси:</span>

                    <ul>
                        <li>Короткі стопи.</li>
                        <li>Для початку роботи не обов'язково мати великий обсяг депозиту.</li>
                        <li>Велика, порівняно з іншими підходами, можливість отримання прибутку.</li>
                        <li>Більш якісне відпрацювання окремих рухів.</li>
                    </ul>
                    <span class="orange">Мінуси:</span>

                    <ul>
                        <li>Більш напружена робота — трейдер, в основному, постійно знаходиться біля торгового
                            терміналу, йому важко
                            розпланувати свій час.</li>
                        <li>Угоди, які мають гарну середньострокову або довгострокову перспективу, закриваються в кінці
                            дня в надії, що
                            завтра буде можливість увійти в тому ж напрямку.</li>
                        <li>Велика кількість угод може принести не тільки великий прибуток, але й збільшує ризики.</li>
                    </ul>
                    <h2 class="orange"> Середньострокові торгові системи</h2>
                    <p>Угоди тривають від кількох днів до кількох тижнів.</p>
                    <span class="orange">Плюси:</span>

                    <ul>
                        <li>Робота ведеться в більш спокійному ритмі.</li>
                        <li>Трейдер менш прив'язаний до комп'ютера.</li>
                        <li>Такий підхід дає можливість реалізувати себе в інших видах діяльності.</li>
                    </ul>
                    <span class="orange">Мінуси:</span>

                    <ul>
                        <li>Збільшуються розміри стопів.</li>
                        <li>Реакція ринку на важливі новини може разом звести нанівець всю роботу трейдера за кілька
                            днів.</li>
                        <li>Середній заробіток, як правило, нижчий, ніж у короткострокових трейдерів.</li>
                    </ul>
                    <h2 class="orange"> Довгострокові торгові системи</h2>
                    <p>Угоди тривають від кількох тижнів до кількох місяців. Трейдер з спекулянта фактично
                        перетворюється на інвестора.</p>
                    <span class="orange">Плюси:</span>

                    <ul>
                        <li>Трейдер має достатньо часу для аналізу ринку і прийняття торгового рішення.</li>
                        <li>Трейдер може повністю присвятити себе реалізації в інших сферах діяльності.</li>
                    </ul>
                    <span class="orange">Мінуси:</span>

                    <ul>
                        <li>Необхідний досить великий обсяг депозиту.</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/trading/tradingsystem"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/trading/tradingsystemautomation"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>