<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Основные показатели экономического
                            роста</span>
                    </h1>



                    <h3 class="orange">GDP (Gross Domestic Product)</h3>
                    <p>Объем валового внутреннего продукта (ВВП) - общий объем созданных материальных благ в государстве
                        в ценовом
                        выражении. Рост ВВП приводит к росту курса валюты данной страны.</p>
                    <h3 class="orange">Industrial Production (Manufacturing Output)</h3>
                    <p>Объем промышленного производства за определенный период. Рост производства приводит к росту курса
                        валюты.</p>
                    <h3 class="orange">Retail Sales</h3>
                    <p>Объем розничных продаж за определенный период. Стабильный рост розничных продаж сигнализирует о
                        сильном внутреннем
                        спросе и поднимает курс валюты.</p>
                    <h3 class="orange">Business Inventories & Sales</h3>
                    <p>Объем запасов и продаж для производства. Рост запасов и падение продаж - затоваривание; может
                        привести к падению
                        производства, что является негативным фактором для валюты. Рост запасов и рост продаж - говорит
                        об увеличении
                        деловой активности и оборотов у предпринимателей, что является позитивным фактором для валюты.
                    </p>
                    <h3 class="orange">Durable Goods</h3>
                    <p>Объем заказанных и перевезенных товаров длительного пользования (в млрд. долларов). Данный
                        показатель серьезно
                        колеблется в зависимости от ситуации в авиастроении и оборонной промышленности.</p>
                    <h3 class="orange">Wholesale Sales & Inventories</h3>
                    <p>Объем продаж и запасов оптовой торговли.</p>
                    <h3 class="orange">New Home Sales</h3>
                    <p>Объем продаж новых домов в США.</p>
                    <h3 class="orange">Existing Home Sales</h3>
                    <p>Объем продаж домов на вторичном рынке жилья. Как и предыдущий показатель, является серьезным
                        индикатором, указывающим
                        на уровень благосостояния граждан, степень использования ипотечного кредитования и уровень
                        удовлетворения
                        существующей процентной ставкой.</p>
                    <h3 class="orange">Factory Orders</h3>
                    <p>Объем заказов сырья и комплектующих в процессе производства. Рост заказов говорит о
                        производственном потенциале.</p>
                    <h3 class="orange">Budget</h3>
                    <p>Утверждение и выполнение бюджета правительствами ведущих стран. Планирование, утверждение и
                        выполнение бюджета с
                        профицитом говорит об эффективности работы правительства, о возможности увеличивать расходы, в
                        том числе и
                        государственные инвестиции, которые лежат в основе роста ВВП.</p>
                    <h3 class="orange">Construction Spending</h3>
                    <p>Расходы на строительство в частном секторе.</p>
                    <h3 class="orange">Construction Expenditures</h3>
                    <p>Расходы на строительство в корпоративном секторе.</p>
                    <h3 class="orange">Leading Indicators</h3>
                    <p>Индекс опережающих индикаторов, содержит в себе 12 компонентов. Индекс позволяет предсказывать
                        бизнес-циклы
                        экономического развития.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>