<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content blog-content">
                <div class="hero-content">
                    <!-- <div class="   m-right hero-section">

                    </div> -->

                    <div class="blog-text">
                        <h1 class="orange h11">
                            Безкоштовне навчання трейдингу
                        </h1>
                        <p>Безкоштовні навчальні матеріали, детальні <a class="orange dec"
                                href="https://youtube.com/playlist?list=PLdXB70rGX5_z3p29tnC-8C4seMaus7JBL&si=FmorWaGxtsYWdgKT">відеоуроки</a>
                            і статті - зібрані в повноцінні
                            курси за ключовими темами
                            трейдингу для самостійного навчання від Ігора Арапова.
                        </p>
                    </div>

                </div>
                <div class="hero-image-place  m-right">

                    <picture class="hero-image">
                        <source srcset="/assets/img/content/sticker.webp" media="(min-width: 600px)">
                        <img src="/assets/img/content/sticker.webp" alt="author">

                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>
<section class="" id="hero">
    <div class="container black">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content flex">

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="blogmarketphases">
                                        <img class="article-img" src="/assets/img/content/blogmarketphases44.jpg"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="blogmarketphases" class="orange">
                                        <h3>Фази ринку у трейдингу</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="divergenceonindecators">
                                        <img class="article-img" src="/assets/img/content/divergenceonindecators44.png"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="divergenceonindecators" class="orange">
                                        <h3>Дивергенція на індикаторах</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="volatility">
                                        <img class="article-img" src="/assets/img/content/volatility.jpg"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="volatility" class="orange">
                                        <h3>Волатильність у трейдингу</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="reasonfordepositeloose">
                                        <img class="article-img" src="/assets/img/content/reasonfordepositeloose44.png"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="reasonfordepositeloose" class="orange">
                                        <h3>Основні причини втрати депозиту</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="pricingandliquidity">
                                        <img class="article-img" src="/assets/img/content/pricingandliquidity44.png"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="pricingandliquidity" class="orange">
                                        <h3>Ціноутворення та ліквідність</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="smartestmoney">
                                        <img class="article-img" src="/assets/img/content/smartestmoney44.png"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="smartestmoney" class="orange">
                                        <h3>Смарт Мані</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="makingmoneyintrading">
                                        <img class="article-img" src="/assets/img/content/makingmoneyintrading44.png"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="makingmoneyintrading" class="orange">
                                        <h3>Як заробляють у трейдінгу?</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="imbalanceintrading">
                                        <img class="article-img" src="/assets/img/content/imbalanceintrading44.png"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="imbalanceintrading" class="orange">
                                        <h3>Імбаланс у трейдингу</h3>

                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>