<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1 class="orange">Блог</h1>
                    <p><span class="orange">Навчання трейдингу безкоштовно за статтями блогу</span> - це серія статей з
                        основних тем трейдингу, яка
                        дасть вам повне
                        уявлення про те, що таке професія трейдера, чим займається трейдер, як аналізувати графік і як
                        правильно відкривати
                        угоди. Також ви дізнаєтеся:</p>
                    <ul>
                        <li>Про Безкоштовне навчання трейдингу</li>
                        <li>Що входить у теорію з трейдингу</li>
                        <li>Чому ви навчитеся у безкоштовних уроках?</li>
                        <li>Рекомендації щодо вивчення трейдингу</li>
                        <li>У чому полягає суть трейдингу при аналізі графіків?</li>
                        <li>Про загальні помилки в трейдингу та як їх уникнути?</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>
<section class="" id="hero">
    <div class="container black">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content flex">

                    <div class="programm__list">
                        <div class="programm__item">

                            <div class="programm__in">
                                <span class="programm__close"></span>
                                <div>
                                    <a routerLink="blogmarketphases">
                                        <img class="article-img" src="/assets/img/content/blogmarketphases44.jpg"
                                            alt="requotes">
                                    </a>
                                </div>
                                <div class="programm__title orange">
                                    <a routerLink="blogmarketphases" class="orange">
                                        <h3>Фази ринку у трейдингу</h3>

                                    </a>
                                </div>
                            </div>





                        </div>
                    </div>




                </div>

            </div>
        </div>
    </div>
</section>