<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Волатильність у трейдінгу</span>
                    </h1>
                    <p>Всім привіт! Мене звати Ігор Арапов і сьогодні ми поговоримо про <span
                            class="orange">волатильність</span> ринку. Що таке
                        волатильність, як її
                        використовувати і навіщо нам потрібен <span class="orange">індикатор ATR (істинного
                            діапазону)</span>.</p>

                    <p>Для початку важливо зрозуміти, що волатильність на ринку є завжди. Вона може бути низькою,
                        середньою або високою. За
                        один день ринок може пройти 10, 40 або навіть 100 пунктів. Цей показник постійно змінюється, і
                        саме на цьому
                        трейдери заробляють. Без волатильності, коли ринок стоїть на місці, трейдинг неможливий.</p>

                    <p>У ринку є фази: розширення і стиснення. Наприклад, на початку європейської сесії, коли ціна
                        стискається, як пружина,
                        часто відбувається хибний вихід, і це може бути сигналом до дії.</p>

                    <p>Волатильність на ринку постійно чергується: спочатку йде стиснення, потім розширення, і так далі.
                        Це незмінна
                        механіка роботи ринку.</p>

                    <p>Отже, якщо ми це розуміємо, то можемо використовувати індикатор ATR по 14 барах. Цей індикатор
                        вимірює середній
                        діапазон руху ринку, показуючи, наскільки ринок волатильний або спокійний. На цих крайніх
                        значеннях можна фіксувати
                        свої угоди.</p>

                    <p>ATR не передбачає розворот, але він показує, коли ринок досяг свого піку волатильності. Коли
                        індикатор показує високе
                        значення, це означає, що ринок довго йде в одному напрямку і скоро може зупинитися або
                        скоригуватися.</p>

                    <p>Будь-який трейдер, який торгує по тренду, повинен знати цей індикатор, щоб вчасно вийти з ринку
                        перед корекцією.
                        Інакше весь прибуток може бути втрачений.</p>

                    <p>ATR рахує свої значення просто. Він бере 14 останніх барів, підсумовує їх максимуми і мінімуми і
                        ділить на 14,
                        отримуючи середнє значення. Якщо індикатор показує високі значення, будьте готові до виходу з
                        ринку.</p>

                    <p>Ось і все, що потрібно знати про волатильність і індикатор ATR.</p>






                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>