<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange"> Дата валютирования и перенос позиции</span>
                    </h1>


                    <p>Общепринятыми для работы на рынке Forex и на условиях маржинальной торговли являются расчеты
                        (<span class="orange">Дата валютирования</span>)
                        через день после совершения операции. Сделка с датой расчетов через день после совершения
                        операции получила название
                        <span class="orange">SPOT</span> . На валютном рынке существуют сделки <span
                            class="orange">TOD</span> (today - расчеты сегодня), <span class="orange">TOM</span>
                        (tomorrow -
                        расчеты завтра) и
                        другие, однако при торговле на условиях маржи они не используются. Таким образом, дата расчетов
                        по сделке жестко
                        закрепляется в момент ее совершения.
                    </p>
                    <p>Часто бывает так, что открыв сделку сегодня, вы не можете или не хотите закрыть ее с прибылью,
                        откуда возникает
                        необходимость перенести расчеты по открытой позиции на день дальше. Данная операция называется
                        переносом открытой
                        позиции, и посредники (банки) взимают за ее исполнение определенную комиссию — своп (<span
                            class="orange">SWAP</span>). В
                        реальных условиях
                        межбанковского рынка Forex размер комиссии за перенос зависит от разницы по текущим ставкам при
                        хранении каждой из
                        валют, участвующих в сделке. При этом перенос позиции может даже приносить прибыль.</p>
                    <p>При работе на условиях маржинальной торговли трейдер вносит посреднику залог, который служит
                        обеспечением для
                        расчетов по сделкам. При этом банк, предоставляющий услуги по торговле на рынке Forex, постоянно
                        рассчитывает
                        текущий результат по открытым клиентом сделкам, чтобы исключить ситуацию, когда потери клиента
                        окажутся больше
                        внесенного депозита. Таким образом, если потери клиента достигают определенного уровня, банк
                        либо автоматически,
                        принудительно закрывает открытые позиции, либо выставляет требование о дополнительном внесении
                        средств на депозит.
                    </p>
                    <p>Требование о внесении средств называется маржин-колл (<span class="orange">margin-call</span>). У
                        различных
                        банков-маркет-мейкеров уровень
                        остатка счета, при котором наступает маржин-колл или принудительное закрытие, колеблется от 10
                        до 40 процентов от
                        общей суммы депозита. Большой депозит при взвешенной стратегии и объемах сделок позволяет лучше
                        удерживать временно
                        убыточные позиции и дает запас прочности в случае временных неблагоприятных колебаний курса.</p>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/trading/currencyposition"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/trading/howtomakemoney"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>