<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Ордер Блок у Трейдінгу</span>
                    </h1>

                    <p>Привіт усім! Мене звуть Ігор Арапов, і сьогодні ми поговоримо про <strong
                            class="orange">ордер-блоки</strong>. Це дуже популярна
                        тема в інтернеті, і я хочу розповісти про неї.</p>

                    <p><strong class="orange">Ордер-блок</strong> — це частина методології <strong class="orange">“Price
                            Action”</strong>,
                        де ми намагаємося знайти великі ордери, які можуть вплинути на ціну. Назва говорить сама за
                        себе: блок ордерів — це
                        щось велике. У цьому відео ми обговоримо, як він виглядає і як його можна використовувати.</p>

                    <p>Для початку, у мене на графіку є індикатор <strong class="orange">обсягів</strong>. Це допоможе
                        нам зрозуміти, як
                        формується ордер-блок, тому що по одній лише ціні це складно побачити. <strong
                            class="orange">Обсяг</strong> — це
                        реакція на ціну, і десь по певній ціні буде велика заявка, яка очікує виконання.</p>

                    <p>Великі учасники ринку хочуть продавати так, щоб не впливати на ціну. Наприклад, продавати золото.
                        Ми бачимо, як
                        ордер-блок тиснув на ціну вниз. Великий учасник хотів би продавати, не зміщуючи ціну, але
                        ордер-блок формується там,
                        де немає достатнього попиту. Тому великі заявки змушені виконуватися по ринку, знижуючи ціну.
                    </p>

                    <p><strong class="orange">Ордер-блок</strong> — це хитрий <strong class="orange">алгоритмічний
                            ордер</strong>, який
                        виконується особливим способом, і потрібен досвід, щоб його побачити. Він не часто формується,
                        оскільки більшість
                        великих ордерів виконуються <strong class="orange">лімітними ордерами</strong>, щоб не впливати
                        на ціну. <strong class="orange">Ордер-блок</strong> — це виняток, який зазвичай видно між
                        глобальними рівнями, коли до нової
                        вартості далеко і великому капіталу нічого не залишається, як просто штовхати ціну по ринку.</p>

                    <p><strong class="orange">Ордер-блок</strong> починається з того, що перший бар визначає напрямок
                        ордера. У його кінці
                        він стосується покупців. <strong class="orange">Алгоритмічний ордер</strong> б'є по стакану,
                        доходить до найближчого
                        рівня підтримки, де є ордери на купівлю, і ці ордери поступово піднімають ціну. Потім ринок
                        довго тестується під цей
                        попит, поки він не ослабне, і ордер починає штурмувати ринок агресивно і швидко.</p>

                    <p>Це хитрий <strong class="orange">алгоритмічний ордер</strong>, і щоб його розпізнати, потрібно
                        потренуватися. Я навів
                        приклад на золоті, де це добре видно. Це рідкісне явище, але якщо ви його побачите, то
                        обов'язково використовуйте,
                        оскільки <strong class="orange">ордер-блоки</strong> сильно змінюють ціну і виконуються там, де
                        немає контрагентів.
                        У даному випадку попиту не вистачає, і <strong class="orange">ордер-блок</strong> змушений
                        продавити ціну вниз.
                        Падіння ціни збільшує кількість охочих продавати, і маса заявок тисне ціну ще нижче.</p>



                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>