<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Волатильность в трейдинге</span>
                    </h1>
                    <p>Всем привет! Меня зовут Игорь Арапов и сегодня мы поговорим о <span
                            class="orange">волатильности</span> рынка. Что такое волатильность, как ее
                        использовать и зачем нам нужен <span class="orange">индикатор ATR (истинного диапазона)</span>.
                    </p>

                    <p>Для начала важно понять, что волатильность на рынке есть всегда. Она может быть низкой, средней
                        или высокой. За один
                        день рынок может пройти 10, 40 или даже 100 пунктов. Этот показатель постоянно меняется, и
                        именно на этом трейдеры
                        зарабатывают. Без волатильности, когда рынок стоит на месте, трейдинг невозможен.</p>

                    <p>У рынка есть фазы: расширение и сжатие. Например, в начале европейской сессии, когда цена
                        сжимается, как пружина,
                        часто происходит ложный выход, и это может быть сигналом к действию.</p>

                    <p>Волатильность на рынке постоянно чередуется: сначала идет сжатие, затем расширение, и так далее.
                        Это неизменная
                        механика работы рынка.</p>

                    <p>Итак, если мы это понимаем, то можем использовать индикатор ATR по 14 барам. Этот индикатор
                        измеряет средний диапазон
                        движения рынка, показывая, насколько рынок волатильный или спокойный. На этих крайних значениях
                        можно фиксировать
                        свои сделки.</p>

                    <p>ATR не предсказывает разворот, но он показывает, когда рынок достиг своего пика волатильности.
                        Когда индикатор
                        показывает высокое значение, это значит, что рынок долго идет в одном направлении и скоро может
                        остановиться или
                        скорректироваться.</p>

                    <p>Любой трейдер, торгующий по тренду, должен знать этот индикатор, чтобы вовремя выйти из рынка
                        перед коррекцией. Иначе
                        вся прибыль может быть потеряна.</p>

                    <p>ATR считает свои значения просто. Он берет 14 последних баров, суммирует их максимумы и минимумы
                        и делит на 14,
                        получая среднее значение. Если индикатор показывает высокие значения, будьте готовы к выходу с
                        рынка.</p>

                    <p>Вот и все, что нужно знать о волатильности и индикаторе ATR.</p>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Больше о трейдинге можно узнать на моем канале <span class="orange">YouTube</span>. Переходи и подписывайся.</p>

</div>
<section class="separator">
    <div class="line"></div>
</section>