<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Об'ємний аналіз ринку</span>
                    </h1>







                    <p>Це найпопулярніший вид аналізу, оскільки здорова логіка підказує нам, що більшість "великих
                        учасників" ринку під час
                        своєї торгівлі використовують "приховану інформацію" (інсайд), на основі якої ухвалюють свої
                        рішення. І оскільки
                        вони торгують великими обсягами — достатніми, щоб визначити їхню активність, ритейл-трейдер може
                        проаналізувати їхні
                        дії та приєднатися. Саме цьому виду аналізу в моєму навчанні виділено найбільшу кількість часу.
                    </p>

                    <p>Об'ємний аналіз ринку полягає в аналізі обсягів торгових операцій на певних цінових рівнях і
                        виявленні
                        закономірностей між кількістю грошей, що пройшли за ціною, і її подальшим рухом.</p>

                    <p>Обсяги поділяються на два види: тикові та біржові.</p>

                    <p><strong class="orange">Тиковий обсяг</strong> не становить для трейдера жодної цінності, оскільки
                        формується за
                        рахунок кількості
                        коливань цін і не має стосунку до реальних угод.</p>

                    <p><strong class="orange"> Біржовий обсяг</strong> показує кількість ф'ючерсних і опціонних
                        контрактів, що пройшли
                        за певною ціною. Він
                        буває двох видів: горизонтальний і вертикальний.</p>

                    <h3 class="orange">Горизонтальний обсяг</h3>
                    <p>передбачає використання кластерних графіків, у яких кількість торгових операцій відображається у
                        вигляді кластерів
                        навпроти певної ціни, до якої вони належать. Так виглядають горизонтальні біржові обсяги на
                        практиці:</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/30art1pic.jpg" alt="starter">

                    </div>
                    <p>На графіку представлені червоні та зелені прямокутники в лівій частині кластера — це звичні
                        японські свічки.
                        Усередині них розташовуються горизонтальні прямокутники з цифрами, які є реальними торговими
                        обсягами. Якщо фігура
                        забарвлена в червоний колір, число навпроти вказує кількість угод на продаж за цією ціною. Якщо
                        прямокутник зеленого
                        кольору, поруч із ним зазначено кількість покупок.</p>

                    <h3 class="orange">Вертикальний обсяг</h3>
                    <p>показує кількість проторгованих лотів за одиницю часу, що відповідає обраному таймфрейму. На
                        графіку вони виглядають
                        таким чином:</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/30art2pic.jpg" alt="starter">

                    </div>
                    <h3 class="orange">Застосування обсягів</h3>
                    <p>Важливі складові аналізу обсягу — це моменти підвищеної об'ємної активності або зниженої.
                        Підвищена об'ємна
                        активність, великий обсяг, сплеск обсягу — це такий вертикальний обсяг, який легко
                        ідентифікується на графіку, без
                        додаткових індикаторів і фільтрів! На різних таймфреймах він виглядає приблизно однаково, і
                        такий обсяг завжди
                        "кидається в очі" — він завжди "вище середнього".</p>

                    <p>Приклад сплеску на "Time Frame" М30 (те саме можна побачити на будь-якому ТФ):</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/30art3pic.jpg" alt="starter">

                    </div>
                    <h3 class="orange">Зв'язок вертикального обсягу з динамікою ходу ціни</h3>
                    <p>Найважливіше в розумінні обсягу — це зв'язка "обсяг-ціна + результат", частіше цю зв'язку
                        називають
                        "зусилля-результат". Ми завжди пов'язуємо торговий обсяг зі зміною ціни, щоб визначити напрямок
                        дисбалансу, а також
                        результат від "застосовуваного" обсягу. За допомогою цієї зв'язки оцінюється сила тренда або
                        окремої хвилі, навіть
                        окремих барів!</p>

                    <p>Більше "ключової" інформації в моїх курсах.</p>






                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/trading/keypricepattern"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/trading/typesoforders"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>