<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Реквоти</span>
                    </h1>
                    <h3 class="orange">Реквоти</h3>
                    <p>У роботі з дилінговими центрами (ДЦ), що представляють котирування FOREX за системою Instant
                        Execution, реквот
                        (requote) — це пропозиція повторити запит актуальної котирування. Виникає, якщо ви намагаєтеся
                        ввести ринковий ордер
                        за останньою ціною, але з якихось причин ця ціна вже застаріла (через повільне
                        інтернет-з'єднання або високу
                        волатильність). Іншими словами, ваша ринкова заявка виявляється відхиленою.</p>
                    <p>На біржовому ринку реквоти відсутні (але заявка може не дійти до брокера або до біржі через
                        розрив інтернет-з'єднання
                        або через будь-які інші технічні збої).</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>