<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Ринковий ордер</span>
                    </h1>
                    <h3 class="orange">Ринковий ордер</h3>
                    <p>Ринковий ордер (market order) виконується відразу після надходження на біржу, за поточною ціною,
                        якщо для нього є
                        зворотний лімітний ордер. Наприклад, для виконання ринкового ордера на купівлю (market buy)
                        потрібна наявність
                        лімітного ордера на продаж (sell limit). Для виконання ринкового ордера на продаж (market sell)
                        потрібна наявність
                        лімітного ордера на купівлю (buy limit).</p>
                    <p>Для виконання ринкового ордера з усіх наявних у склянці лімітних ордерів вибирається найкращий
                        (найближчий до ціни
                        Last). Тому ринковий ордер на купівлю виконується за ціною Ask, а ринковий ордер на продаж — за
                        ціною Bid.</p>
                    <p>Ринкові ордери використовуються як для відкриття позиції, так і для її закриття (з прибутком або
                        збитком).</p>
                    <p>Учасники ринку, які торгують ринковими ордерами, споживають ліквідність (чужі лімітні ордери).
                        Якщо порівнювати біржу
                        з овочевим ринком, то учасники, які використовують ринкові ордери, — це клієнти, покупці, які
                        дивляться на цінники
                        (лімітні ордери в склянці) і погоджуються (або не погоджуються) із зазначеними в них цінами (за
                        тим лише винятком,
                        що на ринку покупці зазвичай тільки купують товари, а на біржі ринковими ордерами можна і
                        купити, і продати).</p>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>