<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Стоп-лимитный ордер</span>
                    </h1>
                    <h3 class="orange">Стоп-лимитный ордер</h3>
                    <p>Ордер Stop Limit (стоп-лимитный ордер) представляет собой комбинацию двух типов ордеров:
                        стопового и лимитного. В нём
                        указываются две цены: лимитная и стоповая, они могут совпадать или отличаться. В случае, если
                        рыночная цена достигла
                        стоп-цены, выставляется лимитный ордер.</p>
                    <p>Как правило, стоп-лимитные ордера применяются с целью фиксирования размера проскальзывания
                        стоп-ордеров при входе в
                        позицию на пробой заданного уровня (напомним, что обычный стоп-ордер исполняется с произвольным
                        проскальзыванием).
                    </p>
                    <p>Стоп-лимитный ордер не гарантирует исполнение сделки даже в случае, если цена коснулась стоп-цены
                        (поскольку лимитник
                        может не сработать). По этой причине не рекомендуется использовать стоп-лимитный ордер для
                        выхода из позиции с целью
                        ограничения убытков (стоп-лосс). Кроме того, не все брокеры принимают данный вид торгового
                        приказа.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>