<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span class="orange">Смарт Мані</span>
                    </h1>
                    <p>Привіт! Мене звати Ігор Арапов. Сьогодні ми продовжимо говорити про концепцію <strong
                            class="orange">Smart
                            Money</strong>. У попередніх публікаціях ми розбирали приклади, де <strong
                            class="orange">Smart Money</strong>
                        купували активи. Сьогодні ми подивимося на випадок, коли <strong class="orange">Smart
                            Money</strong> продавали.</p>

                    <p><strong class="orange">Smart Money</strong> часто маніпулюють ринком, щоб збивати учасників і
                        збирати ліквідність.
                        Коли ми аналізуємо обсяги, важливо дивитися, чи зачіпає цей обсяг якийсь рівень.</p>

                    <p>Якщо подивитися графік у мене у відео <a class="orange dec"
                            href="https://youtu.be/oT8aVcWI2Oo?si=XlqMByAIzhVQ_sul">https://youtu.be/oT8aVcWI2Oo?si=XlqMByAIzhVQ_sul</a>,
                        то
                        видно, що ціна росла. Я сам торгував у цей час і пам'ятаю, що тоді були важливі новини.</p>

                    <h3 class="orange">Порада</h3>
                    <p>Звертайте увагу на ключові новини. Вони завжди викликають велику активність на ринку, що видно за
                        обсягами. Новини
                        зазвичай змінюють сприйняття вартості на ринку, що впливає на ціну та обсяги.</p>

                    <p>За логікою <strong class="orange">Smart Money</strong>, щоб продавати, потрібно робити це там, де
                        немає попиту.
                        Падіння ринку завжди пов'язане з падінням попиту. У нашому прикладі, у зоні з високими обсягами
                        на новинах було
                        хибне зростання, після якого ціна впала. Наступний чотиригодинний бар показує, що підтримки на
                        ринку немає, і
                        <strong class="orange">Smart Money</strong> не зацікавлені. Це початок фази розподілу, потім
                        фаза розподілу
                        закінчується і починається фаза тренду.
                    </p>

                    <p>Ось такий приклад за логікою <strong class="orange">Smart Money</strong>, тільки на продаж.
                        Принципи ті ж: зона з
                        ліквідністю, її відсутність і зміна тренду.</p>







                </div>

            </div>
        </div>
    </div>
</section>

<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>