<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <main itemscope itemtype="https://schema.org/Article" lang="ru">
                        <meta itemprop="headline"
                            content="Анализ спроса и предложения в рамках концепции Питера Стеделмайера" />
                        <meta itemprop="author" content="Игорь Арапов" />
                        <meta itemprop="datePublished" content="2025-02-03" />
                        <meta itemprop="dateModified" content="2025-02-03" />
                        <meta itemprop="description"
                            content="Узнайте, как анализировать рынок с помощью концепции Питера Стеделмайера. Что такое Market Profile, как учитывать спрос и предложение в трейдинге и какие инструменты применять для успешной торговли." />
                        <span itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                            <meta itemprop="name" content="https://arapov.trade" />
                            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                                <meta itemprop="url" content="favicon.ico" />
                            </span>
                        </span>
                        <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                            <meta itemprop="url" content="/assets/img/content/steidlmayeranalysis.png" />
                            <meta itemprop="width" content="1200" />
                            <meta itemprop="height" content="630" />
                            <meta itemprop="caption"
                                content="Анализ спроса и предложения в рамках концепции Питера Стеделмайера" />
                        </span>
                        <header>
                            <h1>Анализ спроса и предложения в рамках концепции Питера Стеделмайера</h1>
                        </header>

                        <article itemprop="articleBody">
                            <section>
                                <h2>Введение в концепцию Питера Стеделмайера</h2>
                                <p>
                                    Анализ спроса и предложения является одним из ключевых аспектов успешной торговли на
                                    финансовых рынках.
                                    Понимание того, как рыночные участники реагируют на различные уровни цен, позволяет
                                    трейдерам находить
                                    выгодные торговые возможности. Одним из самых эффективных методов такого анализа
                                    является <strong>Market
                                        Profile</strong>,
                                    разработанный <strong>Питером Стеделмайером</strong>, трейдером Чикагской товарной
                                    биржи (CBOT).
                                </p>
                                <p>
                                    В отличие от традиционных методов <a class="linkrefinto"
                                        href="https://arapov.trade/ru/freestudying/technicalanalysis">технического
                                        анализа</a> , которые
                                    фокусируются на
                                    индикаторах и графических
                                    моделях, концепция <strong><a class="linkrefinto" target="_blank"
                                            href="https://en.wikipedia.org/wiki/Market_profile">Market Profile</a>
                                    </strong> основана на изучении поведения
                                    цены через объем и время.
                                    Это позволяет более точно определить зоны спроса и предложения, справедливую
                                    стоимость актива и потенциальные
                                    уровни разворота или продолжения тренда.
                                </p>
                                <h3>Ключевые принципы Market Profile:</h3>
                                <ul>
                                    <li><strong>Справедливая стоимость:</strong> Определение ценовых уровней, где объем
                                        торгов наиболее высок,
                                        что указывает на зону равновесия между покупателями и продавцами.</li>
                                    <li><strong>Имбаланс спроса и предложения:</strong> Выявление моментов, когда рынок
                                        выходит из равновесия,
                                        создавая условия для импульсного движения.</li>
                                    <li><strong>Динамическое поведение цены:</strong> Анализ того, как цена реагирует на
                                        ключевые уровни объема
                                        и ликвидности.</li>
                                    <li><strong>Зоны ликвидности:</strong> Определение участков, где крупные игроки
                                        совершают основные операции,
                                        влияя на цену актива.</li>
                                </ul>
                                <p>
                                    В этой статье мы детально разберем, как применять Market Profile для эффективного
                                    анализа рынка, какие
                                    принципы лежат в его основе и как использовать его для прогнозирования рыночных
                                    движений.
                                </p>
                            </section>

                            <section>
                                <h2>Что такое Market Profile?</h2>
                                <p>
                                    <strong>Market Profile</strong> – это мощный инструмент рыночного анализа, который
                                    помогает трейдерам
                                    понять распределение объема на разных ценовых уровнях в течение торговой сессии. Он
                                    представляет собой
                                    вертикальную гистограмму, отражающую зоны, где цена находилась наиболее
                                    продолжительное время и где
                                    сосредоточены ключевые объемы.
                                </p>

                                <p>
                                    В отличие от традиционных свечных или линейных графиков, Market Profile показывает
                                    <strong>структуру
                                        рынка</strong>,
                                    позволяя анализировать движение цены через призму спроса и предложения. Это особенно
                                    полезно для
                                    <a class="linkrefinto"
                                        href="https://arapov.trade/ru/freestudying/levelofsupport">определения уровней
                                        поддержки и сопротивления</a> , а также выявления зон
                                    высокой
                                    ликвидности.
                                </p>
                                <div class="flex">
                                    <img class="pictureImg" src="/assets/img/content/steidlmayeranalysis2.png"
                                        loading="lazy" alt="Что такое Market Profile?">
                                </div>
                                <h3>Основные компоненты Market Profile:</h3>
                                <ul>
                                    <li><strong>POC (Point of Control):</strong> Это уровень цены, на котором проходил
                                        наибольший объем торгов
                                        за определенный период. Он часто выступает как сильный уровень поддержки или
                                        сопротивления.</li>
                                    <li><strong>VA (Value Area):</strong> Область справедливой стоимости, включающая 70%
                                        всего объема торгов
                                        за сессию. Трейдеры используют ее для определения оптимальных зон входа и
                                        выхода.</li>
                                    <li><strong>Initial Balance (IB):</strong> Диапазон цен, установленный в первые часы
                                        торговой сессии,
                                        который задает тон движения рынка.</li>
                                    <li><strong>High Volume Nodes (HVN):</strong> Уровни с высокой концентрацией объема,
                                        которые могут служить
                                        точками консолидации.</li>
                                    <li><strong>Low Volume Nodes (LVN):</strong> Зоны с низким объемом торгов, которые
                                        часто выступают как
                                        уровни, через которые цена проходит быстро.</li>
                                </ul>
                                <p>
                                    Применение Market Profile позволяет трейдерам более точно анализировать поведение
                                    рынка, прогнозировать
                                    изменения трендов и находить точки разворота с высокой вероятностью успеха.
                                </p>
                            </section>


                            <section>
                                <h2>Как Market Profile отражает спрос и предложение?</h2>
                                <p>
                                    Основная задача <strong>Market Profile</strong> заключается в выявлении зон, где
                                    цена находится в состоянии
                                    <strong>равновесия</strong> между покупателями и продавцами, а также в определении
                                    областей
                                    <strong><a class="linkrefinto"
                                            href="https://arapov.trade/ru/freestudying/imbalanceintrading">имбаланса</a>
                                    </strong>, которые могут привести к сильным
                                    трендовым движениям.
                                </p>
                                <p>
                                    В отличие от стандартных индикаторов технического анализа, Market Profile
                                    визуализирует распределение объемов
                                    на различных ценовых уровнях, помогая трейдерам анализировать взаимодействие спроса
                                    и предложения в режиме
                                    реального времени.
                                </p>
                                <h3>Принципы баланса спроса и предложения:</h3>
                                <ul>
                                    <li><strong>Зоны высокой ликвидности:</strong> В местах с наибольшими объемами
                                        торгов цена, как правило,
                                        консолидируется, формируя ключевые уровни поддержки и сопротивления. Это
                                        указывает на то, что
                                        покупатели и продавцы согласны с текущей ценой.</li>
                                    <li><strong>Зоны низкой ликвидности:</strong> Когда цена быстро проходит
                                        определенные уровни, это сигнализирует
                                        о слабости спроса или предложения. Такие зоны часто выступают в качестве
                                        потенциальных уровней пробоя.</li>
                                    <li><strong>Области справедливой стоимости (Value Area):</strong> Эти зоны
                                        показывают, где проходило наибольшее
                                        количество сделок, что делает их важными для определения ключевых точек входа и
                                        выхода.</li>
                                    <li><strong>Торговые диапазоны и пробои:</strong> Market Profile позволяет
                                        идентифицировать моменты, когда цена
                                        остается в диапазоне (рынок в фазе консолидации), а также когда она готова к
                                        выходу в трендовое движение.
                                    </li>
                                    <li><strong>Имбалансы в Market Profile:</strong> Когда цена выходит за границы
                                        справедливой стоимости,
                                        это означает дисбаланс спроса и предложения, что может привести к сильному
                                        рыночному движению.</li>
                                </ul>
                                <p>
                                    Анализ спроса и предложения с помощью Market Profile позволяет трейдерам принимать
                                    более обоснованные решения
                                    о входе и выходе из рынка, оценивать силу тренда и находить оптимальные точки для
                                    размещения стоп-лоссов
                                    и тейк-профитов.
                                </p>
                            </section>


                            <section>
                                <h2>Применение концепции Питера Стеделмайера в трейдинге</h2>
                                <p>
                                    <strong>Market Profile</strong> — это мощный аналитический инструмент, который
                                    широко используется
                                    профессиональными трейдерами для определения зон интереса участников рынка,
                                    выявления баланса спроса и
                                    предложения, а также прогнозирования возможных направлений движения цены. В отличие
                                    от традиционного
                                    технического анализа, который основывается на исторических данных цены, Market
                                    Profile фокусируется на
                                    объемах и распределении времени, проведенного ценой на определенных уровнях.
                                </p>
                                <div class="flex">
                                    <img class="pictureImg" src="/assets/img/content/steidlmayeranalysis1.png"
                                        loading="lazy" alt="Применение концепции Питера Стеделмайера в трейдинге">
                                </div>

                                <h3>Основные способы применения Market Profile в трейдинге:</h3>
                                <ul>
                                    <li><strong>Определение уровней спроса и предложения:</strong> Анализ зон с
                                        наибольшими объемами торговли
                                        (Point of Control, POC) помогает трейдерам находить ключевые уровни, где
                                        вероятны развороты или
                                        продолжение тренда.</li>
                                    <li><strong>Поиск зон справедливой стоимости (Value Area):</strong> Трейдеры
                                        используют Value Area (зону, в
                                        которой произошло 70% всех сделок) для понимания того, где участники рынка
                                        считают цену справедливой.</li>
                                    <li><strong>Выявление уровней сопротивления и поддержки:</strong> Зоны с высокой
                                        концентрацией объемов могут
                                        выступать в качестве барьеров для движения цены. Если цена часто тестирует
                                        уровень POC, это может
                                        сигнализировать о его значимости.</li>
                                    <li><strong>Идентификация точек пробоя:</strong> Когда цена выходит за пределы зоны
                                        справедливой стоимости,
                                        это указывает на изменение рыночного баланса и возможное начало трендового
                                        движения.</li>
                                    <li><strong>Определение имбаланса рынка:</strong> Если цена быстро перемещается
                                        через зону с низкими объемами
                                        (Low Volume Node), это может свидетельствовать о слабом интересе участников
                                        рынка к этим уровням, что
                                        делает их потенциальными зонами пробоя.</li>
                                    <li><strong>Анализ рыночной динамики:</strong> Сравнивая текущий профиль рынка с
                                        предыдущими сессиями,
                                        трейдеры могут выявлять повторяющиеся паттерны, сигнализирующие о возможном
                                        изменении тренда.</li>
                                </ul>

                                <p>
                                    <strong>Market Profile</strong> особенно эффективен на фьючерсных, валютных и
                                    фондовых рынках, так как
                                    позволяет лучше понять структуру спроса и предложения.
                                </p>
                            </section>

                            <section>
                                <h2>Как анализировать дисбаланс спроса и предложения?</h2>
                                <p>
                                    Дисбаланс между спросом и предложением — один из ключевых факторов, определяющих
                                    движение цены на рынке.
                                    Когда спрос превышает предложение, цена растет, а если предложение доминирует —
                                    снижается. Используя концепцию
                                    <strong>Market Profile</strong>, трейдеры могут обнаружить области, где
                                    накапливаются крупные ордера, и
                                    предсказать
                                    возможные изменения в рыночной структуре.
                                </p>

                                <h3>Ключевые признаки дисбаланса спроса и предложения:</h3>
                                <ul>
                                    <li><strong>Расширение зоны справедливой стоимости (Value Area Expansion):</strong>
                                        Если зона справедливой стоимости (<em>Value Area</em>) расширяется, это
                                        сигнализирует о высокой ликвидности
                                        и
                                        возможности формирования устойчивого тренда.</li>
                                    <li><strong>POC-смещение (Point of Control Shift):</strong>
                                        Когда уровень <em>Point of Control</em> (POC) смещается вверх или вниз, это
                                        указывает на изменение
                                        предпочтений
                                        участников рынка и может предвещать продолжение тренда или разворот.</li>
                                    <li><strong>Накопление объема за пределами зоны VA:</strong>
                                        Если крупные объемы накапливаются вне зоны справедливой стоимости, это может
                                        свидетельствовать о подготовке
                                        к пробою и резкому изменению цены.</li>
                                    <li><strong>Low Volume Nodes (LVN):</strong>
                                        Области с низкими объемами (LVN) часто становятся уровнями, через которые цена
                                        проходит быстро, так как
                                        интерес к этим уровням минимален.</li>
                                    <li><strong>Поведение на границах Value Area:</strong>
                                        Если цена многократно тестирует границы зоны стоимости (<em>Value Area High</em>
                                        и <em>Value Area Low</em>),
                                        но не выходит за её пределы, это может означать, что рынок находится в состоянии
                                        равновесия.</li>
                                </ul>

                                <h3>Практическое применение анализа дисбаланса:</h3>
                                <ul>
                                    <li>Если POC и Value Area расширяются вверх, это подтверждает восходящий тренд и
                                        возможность открытия
                                        длинных позиций.</li>
                                    <li>Сужение зоны стоимости и смещение POC вниз может говорить о снижении ликвидности
                                        и потенциальном
                                        развороте рынка.</li>
                                    <li>Обнаружение аномально крупных объемов вблизи значимых уровней сопротивления или
                                        поддержки может
                                        сигнализировать о предстоящем пробое или отскоке.</li>
                                </ul>

                                <p>
                                    Анализируя дисбаланс спроса и предложения через <strong>Market Profile</strong>,
                                    трейдеры могут принимать более
                                    обоснованные торговые решения, минимизируя риски и увеличивая вероятность успешных
                                    сделок.
                                </p>
                            </section>





                            <section>
                                <h2>Преимущества и недостатки анализа Market Profile</h2>

                                <h3>Преимущества:</h3>
                                <ul>
                                    <li><strong>Глубокое понимание рынка:</strong> Market Profile позволяет
                                        анализировать действия крупных
                                        участников,
                                        выявлять уровни накопления и распределения ликвидности.</li>
                                    <li><strong>Четкие уровни поддержки и сопротивления:</strong> В отличие от
                                        классического технического анализа,
                                        Market Profile показывает реальные зоны концентрации объема, что помогает
                                        трейдерам принимать более
                                        обоснованные решения.</li>
                                    <li><strong>Гибкость:</strong> Инструмент можно применять как для внутридневной
                                        торговли, так и для
                                        среднесрочных и долгосрочных стратегий.</li>
                                    <li><strong>Обнаружение рыночных аномалий:</strong> Market Profile помогает выявлять
                                        моменты, когда рынок
                                        выходит из состояния равновесия, что может указывать на начало трендового
                                        движения.</li>
                                    <li><strong>Адаптация к различным инструментам:</strong> Анализ Market Profile можно
                                        использовать на
                                        <a class="linkrefinto"
                                            href="https://arapov.trade/ru/freestudying/futurestrading">фьючерсных</a> ,
                                        <a class="linkrefinto"
                                            href="https://arapov.trade/ru/freestudying/howtotradeonforex">валютных</a> и
                                        <a class="linkrefinto"
                                            href="https://arapov.trade/ru/freestudying/cryptocurrencytrading">криптовалютных</a>
                                        рынках, что делает его
                                        универсальным
                                        инструментом.
                                    </li>
                                </ul>
                                <div class="flex">
                                    <img class="pictureImg" src="/assets/img/content/steidlmayeranalysis3.webp"
                                        loading="lazy" alt="Преимущества и недостатки анализа Market Profile">
                                </div>
                                <h3>Недостатки:</h3>
                                <ul>
                                    <li><strong>Сложность освоения:</strong> Для эффективного применения Market Profile
                                        требуется глубокое понимание
                                        рыночной структуры, что делает его менее доступным для новичков.</li>
                                    <li><strong>Отсутствие автоматизированных сигналов:</strong> В отличие от
                                        индикаторов, таких как RSI или MACD,
                                        Market Profile требует субъективного анализа, что увеличивает вероятность ошибок
                                        при интерпретации.</li>
                                    <li><strong>Неэффективность на низколиквидных рынках:</strong> В условиях слабой
                                        ликвидности уровни Market
                                        Profile
                                        могут терять свою значимость, что снижает точность анализа.</li>
                                    <li><strong>Дополнительные инструменты:</strong> Для полноценного использования
                                        Market Profile часто требуется
                                        сочетание с другими методами анализа, такими как объемные профили, лента принтов
                                        или стакан заявок.</li>
                                    <li><strong>Зависимость от платформы:</strong> Market Profile доступен не на всех
                                        торговых платформах, а его
                                        качественное использование требует специализированного программного обеспечения.
                                    </li>
                                </ul>

                                <p>
                                    Несмотря на определенные недостатки, <strong>Market Profile остается мощным
                                        инструментом</strong> для анализа
                                    спроса и предложения, позволяя трейдерам принимать более взвешенные торговые решения
                                    и эффективно управлять
                                    рисками.
                                </p>
                            </section>

                            <section>
                                <h2>Примеры анализа Market Profile на практике</h2>
                                <p>
                                    Рассмотрим, как использовать концепцию <strong>Питера Стеделмайера</strong> в
                                    реальных рыночных условиях.
                                    Анализ <strong>Market Profile</strong> позволяет выявлять ключевые уровни спроса и
                                    предложения, определять
                                    точки входа и выхода, а также прогнозировать поведение цены в зависимости от
                                    рыночной структуры.
                                </p>

                                <h3>1. Разворотный сценарий</h3>
                                <p>
                                    Когда цена длительное время остается в зоне справедливой стоимости, а затем выходит
                                    за её пределы,
                                    это сигнализирует о смене баланса спроса и предложения. Такой сценарий часто
                                    сопровождается увеличением
                                    объема и может привести к развороту тренда.
                                </p>
                                <p>
                                    <strong>Как торговать:</strong>
                                </p>
                                <ul>
                                    <li>Если цена выходит из зоны стоимости вниз с увеличением объема, это может быть
                                        признаком зарождения
                                        нисходящего тренда.</li>
                                    <li>При выходе вверх с подтверждающим объемом возможен переход к бычьему тренду.
                                    </li>
                                    <li>Ретест зоны пробоя может дать возможность для входа в сделку с минимальными
                                        рисками.</li>
                                </ul>


                                <h3>2. Продолжение тренда</h3>
                                <p>
                                    В ситуациях, когда цена пробивает зону стоимости и продолжает движение в сторону
                                    дисбаланса, это говорит о
                                    сильной тенденции. В таких условиях можно использовать откаты к значимым уровням
                                    Market Profile для поиска
                                    точек входа.
                                </p>
                                <p>
                                    <strong>Как торговать:</strong>
                                </p>
                                <ul>
                                    <li>Следить за POC (Point of Control) — если он смещается в направлении тренда, это
                                        подтверждает движение.</li>
                                    <li>Идентифицировать зоны высокой ликвидности (HVN) для фиксации прибыли.</li>
                                    <li>Использовать зоны низкой ликвидности (LVN) для поиска потенциальных точек
                                        прорыва.</li>
                                </ul>


                                <h3>3. Поиск сильных уровней</h3>
                                <p>
                                    Анализ <strong>Market Profile</strong> помогает находить важные уровни, где
                                    сконцентрирован крупный объем,
                                    а также зоны, где ликвидность минимальна. Эти уровни могут служить ориентиром для
                                    установки стоп-лоссов и
                                    тейк-профитов.
                                </p>
                                <p>
                                    <strong>Как торговать:</strong>
                                </p>
                                <ul>
                                    <li>Использовать зоны низкого объема (LVN) как потенциальные уровни сопротивления и
                                        поддержки.</li>
                                    <li>Следить за перемещением POC, чтобы определить, усиливается ли спрос или
                                        предложение.</li>
                                    <li>Открывать позиции при подходе цены к значимым уровням и проверять реакцию на
                                        этих отметках.</li>
                                </ul>


                                <p>
                                    Понимание концепции Market Profile и её применение на практике позволяет трейдерам
                                    адаптироваться к изменениям
                                    рыночной структуры и находить наиболее выгодные торговые возможности.
                                </p>
                            </section>
                            <section>
                                <h2>Как использовать Market Profile для успешной торговли?</h2>
                                <p>
                                    Чтобы эффективно применять концепцию <strong>Питера Стеделмайера</strong> в реальной
                                    торговле, важно не только
                                    понимать
                                    теоретические аспекты Market Profile, но и уметь правильно интерпретировать его
                                    сигналы в зависимости от
                                    рыночной ситуации.
                                    Вот основные рекомендации для трейдеров:
                                </p>
                                <div class="flex">
                                    <img class="pictureImg" src="/assets/img/content/steidlmayeranalysis4.webp"
                                        loading="lazy" alt="Как использовать Market Profile для успешной торговли?">
                                </div>
                                <ul>
                                    <li><strong>Анализируйте объемы:</strong> Определяйте зоны с максимальной
                                        активностью покупателей и продавцов.
                                        Области с высоким объемом обычно указывают на консолидацию, а зоны с низким
                                        объемом — на возможный пробой.
                                    </li>
                                    <li><strong>Следите за POC и VA:</strong> <em>Point of Control</em> (POC) и
                                        <em>Value Area</em> (VA) помогают
                                        находить
                                        наиболее значимые уровни поддержки и сопротивления. Если цена приближается к
                                        этим уровням, высока
                                        вероятность
                                        разворота или пробоя.
                                    </li>
                                    <li><strong>Определяйте трендовые и флетовые рынки:</strong> В трендовом рынке
                                        уровни POC и VA смещаются в
                                        сторону
                                        движения цены, а при консолидации они остаются относительно стабильными. Это
                                        помогает определить, стоит ли
                                        входить в тренд
                                        или ожидать выхода из диапазона.</li>
                                    <li><strong>Используйте Market Profile в сочетании с другими инструментами:</strong>
                                        Чтобы повысить точность
                                        сигналов,
                                        комбинируйте Market Profile с <em>объемным анализом, <a class="linkrefinto"
                                                href="https://arapov.trade/ru/freestudying/candlestickpatterns">свечными
                                                паттернами</a> и
                                            <a class="linkrefinto"
                                                href="https://arapov.trade/ru/freestudying/fibonaccilevels">уровнями
                                                Фибоначчи</a> </em>.</li>
                                    <li><strong>Тестируйте стратегии перед реальной торговлей:</strong> Используйте
                                        демо-счет или симуляторы
                                        торговли,
                                        чтобы понять, как работает Market Profile в различных рыночных условиях, прежде
                                        чем применять его на
                                        реальном счете.</li>
                                </ul>
                                <p>
                                    Освоение Market Profile требует практики, но этот инструмент может значительно
                                    повысить точность торговых
                                    решений
                                    и улучшить понимание рыночных механизмов.
                                </p>
                            </section>

                            <section>
                                <h2>Заключение</h2>
                                <p>
                                    Концепция <strong>Market Profile</strong> Питера Стеделмайера представляет собой
                                    мощный инструмент для анализа
                                    рыночного баланса, который помогает трейдерам находить ключевые уровни спроса и
                                    предложения.
                                </p>
                                <p>
                                    В отличие от классического технического анализа, Market Profile позволяет глубже
                                    понять рыночную структуру,
                                    выявляя
                                    области накопления и распределения ликвидности. Используя POC, VA и зоны дисбаланса,
                                    трейдер может эффективно
                                    определять точки входа и выхода, а также оценивать вероятность пробоя или разворота
                                    цены.
                                </p>
                                <p>
                                    Несмотря на сложность освоения, <strong>Market Profile остается одним из самых
                                        точных методов анализа
                                        рынка</strong>.
                                    Комбинируя его с объемным анализом, лентой принтов и свечными паттернами, можно
                                    значительно повысить
                                    эффективность торговли.
                                </p>
                                <p>
                                    Если вы хотите углубленно изучить Market Profile, рекомендуется протестировать его
                                    на демо-счете,
                                    анализировать исторические данные и постепенно внедрять в свою торговую стратегию.
                                    Только регулярная практика и анализ рыночных закономерностей позволят вам успешно
                                    применять эту концепцию на
                                    практике.
                                </p>
                            </section>




                        </article>
                    </main>




                </div>

            </div>
        </div>
    </div>
</section>
<div class="article-section">
    <h2>Что вы могли пропустить:</h2>
    <div class="related-articles">
        <div *ngFor="let article of randomArticleRus" class="article-block">
            <a [routerLink]="['/ru/freestudying', article.linkUkr]">
                <img [src]="article.imgUkr" [alt]="article.titleRus" loading="lazy" />
                <h3>{{ article.titleRus }}</h3>
            </a>
        </div>
    </div>
</div>