<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Рівні Підтримки та Опору</span>
                    </h1>
                    <p>Привіт всім! Мене звати Ігор Арапов і сьогодні ми поговоримо про рівні підтримки та опору: як їх
                        будувати, визначати
                        і, найголовніше, як їх використовувати.</p>

                    <p>Коли ви працюєте в діапазоні, пам'ятайте, що рівень підтримки — це не просто лінія, а цілий
                        діапазон. Ціна буде
                        рухатися всередині цих діапазонів. На графіку я проводжу дві лінії: одна позначає рівень, а інша
                        показує, що ціна
                        може виходити за його межі. Детально про графік можна подивитися на <a class="orange dec"
                            href="https://youtu.be/-1hx1gef_cc?si=2RsnYOFXfE2JWg7t">відео</a>.</p>

                    <h3 class="orange">Як будувати рівні?</h3>
                    <p>Все залежить від контексту ринку. Якщо до цього був бичачий тренд, то ключова підтримка — це
                        мінімум ринку після
                        першої глибокої корекції. Був висхідний ріст, потім корекція, і ціна знову виросла. Ця точка
                        буде вашим ключовим
                        рівнем підтримки, від якого ви будете шукати точки для покупки.</p>

                    <p>Рівень опору в такому випадку не визначений, тому що тренд може продовжитися. Якщо був висхідний
                        тренд і ви не
                        плануєте продавати, то краще зосередитися на підтримці. Продавати небажано, так як для цього
                        потрібно добре розуміти
                        хибні пробої, про які я записував відео.</p>

                    <p>Розумні гроші (Smart Money) завжди використовують хибні пробої для захоплення ліквідності. Рівні
                        — це діапазон цін, в
                        якому рухається ціна. Вони показують поточну вартість на ринку. Рівні показують приблизний
                        діапазон, де ціна товару
                        вважається дешевою, і вам потрібно купувати в цій зоні. Ми дивимося на індекс долара, але це міг
                        би бути будь-який
                        актив — нафта, біткойн і т.д.</p>

                    <p>Внизу у нас дешева вартість, і нам потрібно намагатися купувати в цій зоні. Вгорі — дорога
                        вартість, і тут бажано
                        виходити з ринку. Ми купуємо на підтримці і виходимо на опорі, але не продаємо на опорі. Це
                        важливо, так як робота
                        проти тренду зменшує ймовірність успіху.</p>

                    <h3 class="orange">Методика входу в ринок</h3>
                    <p>Щоб заходити в ринок на рівні підтримки, я пропоную наступну методику: внизу ви бачите об'єми, і
                        вам потрібно знайти
                        на рівні дефіцит продавців. Будь-який рівень вартості, де дешево, говорить про те, що там не
                        буде пропозиції, і саме
                        тому ціна зростає від рівня. Об'єми допомагають це побачити. Ви можете бачити низькі об'єми в
                        зоні дешевої вартості,
                        і це ваші точки для покупки. Якщо на наступному підході до рівня ви бачите великий об'єм, це
                        перший знак зміни
                        діапазону.</p>

                    <p>Об'ємний аналіз допоможе вам уникнути різких рухів ринку проти вас. Якщо ви будете дивитися на
                        об'єми у рівнів, то у
                        вас не виникнуть проблеми, коли ринок різко йде проти вас. Завжди чекайте сигнал на рівні,
                        наприклад, ведмежий бар
                        на низькому об'ємі, і тоді купуйте. Якщо такого сигналу немає, пропустіть цей рівень і шукайте
                        нову ситуацію. Бажано
                        вивчити об'ємний аналіз, щоб уміти приєднуватися до нового тренду за принципом пробою рівня і
                        тесту.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/freestudying/cryptocurrencybasics"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/freestudying/purchasingcourses"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>