<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Volumetric market analysis</span>
                    </h1>

                    <p>Hello everyone! My name is Igor Arapov and today I want to talk in detail about how to work with
                        volumes in the
                        market, why this is so important for any trader, and what principles lie behind this indicator.
                    </p>

                    <h3 class="orange">What is Volume and Where Does it Come From?</h3>
                    <p>Where does the volume itself come from? Why do we see it on the charts? And can we trust the
                        information it provides
                        us?</p>

                    <p>On the chart (more details about the chart in the video <a
                            href="https://youtu.be/0pXHZRfVW9E?si=ilyaL93GsoFJL2yW"
                            class="orange dec">https://youtu.be/0pXHZRfVW9E?si=ilyaL93GsoFJL2yW</a>), we have a Bitcoin
                        futures contract. I
                        chose it as an example, although the CME exchange's order book is not displayed here. But let's
                        consider an analogy
                        with a real order book. In it, traders place their limit orders to buy or sell at specific
                        prices, waiting for them
                        to be executed.</p>

                    <h3 class="orange">Volumes on Charts</h3>
                    <p>Now to the volumes themselves. You see them at the bottom of the screen. Now I will show you the
                        data of a gold
                        futures from the CME exchange. These volumes are confirmed and reflect the real number of
                        contracts sold over two
                        hours. Each bar on the chart represents a two-hour interval, and you see how many contracts were
                        executed during
                        this period.</p>

                    <h3 class="orange">Volume Analysis</h3>
                    <p>Let's analyze what we see here. If large players are actively trading large volumes and trying to
                        move the market
                        upwards, we will see that the buying volumes prevail. This is logical. Volumes help us
                        understand when demand
                        exceeds supply and vice versa.</p>

                    <p>If professionals are not interested in growth and prefer to sell, we will see a decline in
                        volumes on price
                        increases. This indicates that there is no support for the continued growth, and the price is
                        likely to decrease.
                    </p>

                    <h3 class="orange">Conclusion</h3>
                    <p>I hope this article helped you understand why so many traders use volumes for market analysis.
                        This is not just
                        statistics, but a tool that allows you to understand the intentions of large players and make
                        informed decisions in
                        the market.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/en/freestudying/tradingmyths"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <!-- <a href="https://arapov.trade/en/freestudying/volmarketanalisys"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a> -->


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>You can learn more about trading on my <span class="orange">YouTube</span> channel. Go ahead and subscribe.</p>
</div>
<section class="separator">
    <div class="line"></div>
</section>