<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Торгівля рівнів</span>
                    </h1>


                    <p>Привіт всім! Мене звати Ігор Арапов і сьогодні я розповім про торгівлю рівнями для початківців
                        трейдерів. Я поясню,
                        як будувати рівні, як їх використовувати і що вони значать.</p>

                    <h3 class="orange">Що таке рівень?</h3>
                    <p>Для початку розберемося, що таке рівень. Рівень — це місце на графіку, де ціна змінила напрямок.
                        Наприклад, ціна
                        росла, дійшла до певної точки і різко розвернулася вниз. Ми можемо провести дві лінії по цьому
                        діапазону, показуючи,
                        що в цьому місці ринок зустрів опір і розвернувся. Чим різкіше і імпульсивніше ціна змінює
                        напрямок, тим якісніше
                        вважається рівень. Щоб побудувати хороші рівні, потрібно шукати точки на графіку, від яких
                        відбулося різке зміна
                        ціни. Такі рівні можна вважати високоймовірними і використовувати для угод.</p>

                    <h3 class="orange">Правила роботи з рівнями</h3>
                    <p>Перше, що потрібно зрозуміти — рівень відображає вартість. Учасники ринку, формуючи рівні,
                        визначають, що на ринку
                        вважається дорогим, а що — дешевим. Між цими двома значеннями відбувається рух ринку. Поки
                        учасники ринку вважають
                        одну ціну дорогою, а іншу дешевою, ціна буде коливатися між цими рівнями. Рівень підтримки є
                        підтримкою, коли ціна
                        розвертається вгору, і опором, коли ціна розвертається вниз.</p>

                    <h3 class="orange">Способи роботи з рівнями</h3>
                    <ul>
                        <li><span class="orange">Відскок від рівня:</span> трейдери працюють всередині діапазону, від
                            рівня до рівня.</li>
                        <li><span class="orange">Пробій рівня:</span> підтримка пробивається, продавці беруть контроль
                            над ринком, і після
                            ретеста формується низхідний рух.</li>
                    </ul>

                    <p>Тепер розглянемо, як працювати всередині діапазону і при пробої рівнів.</p>

                    <h3 class="orange">Робота всередині діапазону</h3>
                    <p>Якщо ми визначили рівень підтримки, то слід пам'ятати, що працюємо від підтримки в сторону
                        покупок, поки не побачимо
                        пробою. До пробою вважаємо рівень підтримкою і не продаємо в нього, оскільки це суперечить
                        статистиці. У більшості
                        випадків рівень відбиває ціну, і пробій відбувається рідше, ніж відскок. Тому краще працювати
                        всередині діапазону на
                        відскок від рівня.</p>

                    <p>Цілі в такому аналізі прості: якщо визначені два ключові рівні — дешевий і дорогий — можна
                        працювати від одного рівня
                        до іншого, не прогнозуючи додаткові сценарії. Нас хвилює тільки поточна вартість, яку показує
                        ринок. Якщо рівень не
                        пробитий, можна продовжувати торгувати в цьому діапазоні до тих пір, поки на ринок не впливають
                        фундаментальні
                        фактори, такі як новини або заяви центральних банків.</p>

                    <h3 class="orange">Пробій рівня</h3>
                    <p>Пробій рівня завжди починається імпульсно. Це перший фактор, що вказує на пробій. Учасники ринку,
                        що працюють від
                        покупок, фіксують збитки, що супроводжується підвищеними обсягами. Ціна різко йде вниз, але
                        майже завжди
                        повертається для ретеста рівня. У 99% випадків відбувається ретест. Трейдери повинні працювати
                        на статистику угод, а
                        не на кожну окрему угоду, тому пропуск декількох угод через відсутність ретеста не є критичним.
                    </p>

                    <p>На завершення хочу сказати, що рівні — це ключові діапазони цін, де ціна розвертається. Працювати
                        потрібно від рівня
                        до рівня до моменту пробою.</p>











                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/freestudying/starterdeposit"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/freestudying/wavesofelliott"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>