<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Економічний стан держави</span>
                    </h1>




                    <h3 class="orange">Дані по ринку праці:</h3>
                    <ul>
                        <li><strong>Non-Farm Payrolls</strong> - кількість новостворених робочих місць у всіх секторах
                            економіки, крім
                            сільського господарства. Для США показує істинну картину зайнятості. Зростання NFP
                            призводить до зростання
                            валюти. Виходить щомісяця по п'ятницях - дні найбільших рухів через завершення тижневого
                            циклу рухів валюти.
                        </li>
                        <li><strong>Average Earnings</strong> - середня погодинна ставка заробітної плати (Зростання
                            показника - зростання
                            інфляційних очікувань).</li>
                        <li><strong>Unemployment</strong> - відсоток безробітних від усього працездатного населення.
                            Зростання безробіття -
                            охолодження ринку праці; падіння курсу валюти.</li>
                        <li><strong>Jobless Claims</strong> - кількість звернень за допомогою з безробіття (виходить
                            щотижня).</li>
                        <li><strong>Claimant Count</strong> - британський аналог NFP і Unemployment.</li>
                        <li><strong>Unit Wage</strong> - британський аналог Average Earnings.</li>
                    </ul>

                    <h3 class="orange">Інфляційні показники:</h3>
                    <ul>
                        <li><strong>Consumer Price Index</strong> - індекс споживчих (роздрібних) цін. Показник вже
                            існуючої інфляції.
                            Зростання інфляції при зростанні показників економічного розвитку призводить до зростання
                            валюти, оскільки
                            очікується підвищення облікової ставки.</li>
                        <li><strong>Money Supply (M0-M4)</strong> - грошові агрегати.</li>
                        <li><strong>Producer Price Index</strong> - індекс цін виробників (оптових цін). Індекс
                            зароджуваної інфляції, що
                            існує тільки на стадії сировини і комплектуючих, що входять в процес виробництва. Ділиться
                            на INPUT і OUTPUT.
                        </li>
                        <li><strong>Employment Cost Index</strong> - вартість одиниці робочої сили.</li>
                    </ul>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>