<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Світові фондові індекси</span>
                    </h1>



                    <h3 class="orange">Dow Jones Industrial Average</h3>
                    <p>Промисловий індекс акцій 30 провідних корпорацій США. Іноді у складі відбувається ротація
                        корпорацій за принципом
                        рівня капіталізації (обсягів власного капіталу). Це, мабуть, найпопулярніший індекс у світі. До
                        складу входять 30
                        найбільших компаній США з різних галузей: фінансів, транспортного, споживчого, харчового та
                        промислового секторів.
                        До індексу входять відомі у всьому світі компанії: Coca-Cola, IBM, Intel, Microsoft, General
                        Motors та інші.</p>

                    <h3 class="orange">Standard and Poor's 500 Index (S&P 500)</h3>
                    <p>Капіталізаційний індекс, розрахований за акціями 500 провідних корпорацій США. Тому за самим
                        індексом можна судити,
                        як йдуть справи в економіці країни, оскільки він охоплює всі основні галузі країни.</p>

                    <h3 class="orange">NASDAQ-100</h3>
                    <p>Індекс акцій позабіржового обороту. Акції переважно компаній високотехнологічного сектору.</p>

                    <h3 class="orange">FTSE 100</h3>
                    <p>Індекс 100 провідних корпорацій Великої Британії. Це найбільш шанований та котируваний індекс на
                        європейських
                        майданчиках. У складі 100 найбільших компаній, що торгуються на Лондонській фондовій біржі.</p>

                    <h3 class="orange">Nikkei 225</h3>
                    <p>Японський індекс, до якого входять 225 компаній. Щороку склад переглядається. До нього входять
                        такі гіганти, як
                        Honda, Panasonic, Mazda та інші. З імовірністю 99,9% всі японські бренди, які ви знаєте, входять
                        до Nikkei 225.
                        Подібно до S&P 500, досить об'єктивно відображає стан економіки. Це найважливіший індекс в
                        азійському регіоні.</p>

                    <h3 class="orange">DAX</h3>
                    <p>Німецький біржовий індекс, до якого входять 30 найголовніших компаній країни: Adidas, BMW,
                        Henkel, Volkswagen та
                        інші.</p>

                    <h3 class="orange">CAC 40</h3>
                    <p>Французький фондовий індекс, до складу якого входять 40 найбільших компаній, що торгуються на
                        Паризькій фондовій
                        біржі: Renault, L'Oréal.</p>

                    <h3 class="orange">ММВБ та РТС</h3>
                    <p>Два фондові індекси, що включають 50 найбільш ліквідних та найбільших компаній Росії. До складу
                        індексу входять такі
                        гіганти, як Газпром, Роснефть, Лукойл, Сбербанк, Магніт тощо.</p>




                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/trading/econimicfactors"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/trading/economicstate"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>