<section class="" id="hero">
  <div class="container">
    <div class="section-i">
      <div class="section-content">
        <div class="hero-content">
          <div class="m-right hero-section"></div>
          <main itemscope itemtype="https://schema.org/Article" lang="ru">
            <meta
              itemprop="headline"
              content="Практические рекомендации по трейдингу. Торговая система"
            />
            <meta itemprop="author" content="Игорь Арапов" />
            <meta itemprop="datePublished" content="2025-05-25" />
            <meta itemprop="dateModified" content="2025-05-25" />
            <meta
              itemprop="description"
              content="Практические рекомендации по трейдингу, торговая система  с примерами точек входа и выхода, мани-менеджментом и управление рисками. Пошаговое руководство"
            />
            <span
              itemprop="publisher"
              itemscope
              itemtype="https://schema.org/Organization"
            >
              <meta itemprop="name" content="https://arapov.trade" />
              <span
                itemprop="logo"
                itemscope
                itemtype="https://schema.org/ImageObject"
              >
                <meta itemprop="url" content="favicon.ico" />
              </span>
            </span>
            <span
              itemprop="image"
              itemscope
              itemtype="https://schema.org/ImageObject"
            >
              <meta
                itemprop="url"
                content="/assets/img/content/prakticrus.jpg"
              />
              <meta itemprop="width" content="1200" />
              <meta itemprop="height" content="630" />
              <meta
                itemprop="caption"
                content="Практические рекомендации по трейдингу. Торговая система"
              />
            </span>
            <header>
              <h1>Практические рекомендации по трейдингу. Торговая система</h1>
            </header>

            <article itemprop="articleBody">
              <section>
                <p>
                  Ниже представлены графики с примерами точек входа. То, что вы
                  здесь увидите не является чем то
                  <strong>уникальным</strong>, а является простым следствием
                  теории трейдинга, которая выложена на сайте и сгруппирована по
                  ключевым темам. Цель данных графиков показать практическое
                  применение теории и дать начинающим трейдерам направление в
                  котором стоит развиваться.
                </p>
                <p>
                  В завершении примеров, я приложил стейтмент одного из
                  учеников, который сдал практический экзамен после пройденного
                  у меня обучения и уже не торгует на "учебном счете", а перешел
                  на реальный торговый счет. Данная статистика поможет
                  начинающим трейдерам разобраться в таких понятиях как
                  <strong>WinRate</strong> торговой системы и посмотреть
                  распределение вероятностей по сделкам. А так же представленный
                  стейтмент наглядно покажет почему
                  <strong>мани менеджмент </strong> и
                  <a
                    class="linkrefinto"
                    href="https://arapov.trade/ru/freestudying/riskcurrencyexchange"
                    >управление рисками</a
                  >
                  очень важны.
                </p>
              </section>
              <section>
                <h2>Пример 1</h2>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practicTwo.png"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i
                    >График взят из платформы
                    <a class="linkrefinto" href="https://ru.tradingview.com/"
                      >TradingView</a
                    >
                    - Индекс Насдак (NQ) , Тф - 4 часа.</i
                  >
                </div>
                <br />
                <p>
                  На графике Тф - 4 часа рассмотрим классический пример по
                  работе с уровнями , я выбрал именно насдак так как в начале
                  американской торговой сессии на нем часто происходят
                  <a
                    class="linkrefinto"
                    href="https://arapov.trade/ru/freestudying/falsebreakouts"
                    >ложные пробои</a
                  >
                  с последующим трендовым движением в противоположном
                  направлении.
                </p>
                <p>
                  В этом примере рассмотрены все ключевые факторы которые
                  беруться во внимание при определении
                  <a
                    class="linkrefinto"
                    href="https://arapov.trade/ru/freestudying/smartmoneystrategies"
                  >
                    точки входа в сделку</a
                  >
                  и цели по сделке , а так же как правильно проконтролировать
                  риск (<a
                    class="linkrefinto"
                    href="https://arapov.trade/ru/freestudying/stoploss"
                    >стоп лосс</a
                  >
                  ) в сделке.
                </p>
              </section>
              <section>
                <p>
                  Ниже представлен тот же график Индекса Насдак (NQ) только ТФ -
                  15 мин, как правило такой таймфрейм используют трейдеры для
                  дейтрейдинга , цели и сделки которых не выходят за пределы
                  торговой сессии.
                </p>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practicOne.png"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i
                    >График взят из платформы TradingView - Индекс Насдак (NQ) ,
                    Тф - 15 мин.</i
                  >
                </div>
                <br />
                <ol>
                  <li>
                    Диапазон сопротивления на индекс Насдак (21900-22000) взятый
                    со старшего ТФ Х4 - который показан выше на примере.
                  </li>
                  <li>
                    Пин бар который является первым признаком проблем для
                    покупателей ( неспособность дать более высокие цены ,
                    дефицит спроса )
                  </li>
                  <li>
                    Ложный пробой уровня , попытка поднять рынок за счет резкого
                    изменения цен ( как я уже писал обычно происходит в начале
                    торговой сессии в США) , так же сбиваются стоп приказы
                    шортистов и открываются ордера на пробой тех участников
                    которые ждали пробой уровня. Все эти ордера суммарно дают
                    значительный спрос (<a
                      class="linkrefinto"
                      href="https://arapov.trade/ru/freestudying/pricingandliquidity"
                      >ликвидность</a
                    >
                    ) который используют
                    <a
                      class="linkrefinto"
                      href="https://arapov.trade/ru/freestudying/smartestmoney"
                      >Смарт Мани</a
                    >
                    для открытия своих спекулятивных коротких позиций, либо
                    просто для фиксации прибыли уже существующих длинных.
                  </li>
                  <li>
                    Так как на уровнях сопротивления спрос в дефиците , по
                    правилам
                    <a
                      class="linkrefinto"
                      href="https://arapov.trade/ru/freestudying/candlestickpatterns"
                      >Price Action</a
                    >
                    нам нужно дождаться паттерн
                    <strong>Медвежье поглощение</strong>, который укажет на
                    преобладание медведей , которые готовы агрессивно продавать
                    по рынку. Пробой минимума бара
                    <strong>ложного пробоя</strong> будет свидетельствовать о
                    начале тренда в противоположную сторону.
                  </li>
                  <li>
                    Постановка защитного ордера во время открытия сделки в
                    продажу.
                  </li>
                  <li>
                    Цель по сделке , противоположный импульсный уровень , где
                    покупатели взяли контроль над ценой.
                  </li>
                </ol>

                <p>
                  <strong>Примечание</strong> : Важно понимать что сама сделка и
                  причины по которой мы входим является набором факторов в
                  <a
                    class="linkrefinto"
                    href="https://arapov.trade/ru/freestudying/technicalanalysis"
                    >техническом анализе</a
                  >
                  которые мы берем в расчет прежде чем входим в позицию.
                  Ключевые факторы такие как : уровни поддержки и сопротивления
                  , Пин бары , "ложные пробои" , паттерны Price Action , имеют
                  смысл когда используются совместно , а не по отдельности.
                </p>
                <p>
                  Так же важно учитывать еще одно условие без которого о сделке
                  не может идти и речи - это манименеджмент , важно понимать что
                  трейдер априори не гарантирован в том , что даже соблюдая ряд
                  условия рынок пойдет в его сторону и он заработает денег , а
                  значит нужно не только контролировать риск в отдельно взятой
                  позиции , но и переносить его из сделки в сделку так , чтобы
                  на дистанции сделок у трейдера был средний “+”.
                </p>
                <p>
                  <strong>Важное условие для достижения прибыли</strong> по
                  сумме сделок заключается в том, что на каждый 1 доллар риска
                  вы закладываете потенциал минимум 3 доллара прибыли. Это
                  значит что расстояние до цели ( где идет фиксация сделки) в
                  пунктах , должно быть в 3 раза больше чем расстояние до стоп
                  ордера, который ограничивает риск в сделке.
                </p>
              </section>
              <section>
                <h2>Пример 2</h2>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practicThree.jpg"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i
                    >График взят из платформы TradingView - Биткоин , Тф - 4
                    часа</i
                  >
                </div>
                <br />
                <p>
                  На графике Биткоина Тф - 4 часа , отмечена импульсная медвежья
                  волна как уровень сопротивления и зона нашего интереса
                </p>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practicFour.jpg"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i
                    >График взят из платформы TradingView - Биткоин , Тф - 15
                    мин</i
                  >
                </div>
                <br />
                <ol>
                  <li>
                    Уровень сопротивления который мы отметили как начало
                    импульсной медвежьей волны
                  </li>
                  <li>
                    Ждем на уровне (или точнее сказать в диапазоне) наши
                    <a
                      class="linkrefinto"
                      href="https://arapov.trade/ru/freestudying/pinbar"
                      >пин-бары</a
                    >
                    которые покажут проблемы покупателей и их неспособность
                    пробить <strong>сопротивление</strong> для достижения более
                    высоких цен на Биткоине.
                  </li>
                  <li>
                    Ключевой момент уровня - ложный пробой , как и в прошлом
                    примере , мы хотим увидеть попытку подъема цен без
                    результата. Ниже на объемах можем увидеть всплеск торговой
                    активности , которая показывает как покупатели активны и
                    стараются поднять цены , в теории по
                    <a
                      class="linkrefinto"
                      href="https://arapov.trade/ru/freestudying/smartmoneyconceptsguide"
                      >концепции Смарт Мани</a
                    >
                    раздел <strong>захват ликвидности</strong> мы уже обсуждали,
                    что локально на уровнях крупный капитал способен изменять
                    цены ( если рынок позволит им) для вовлечения участников
                    рынка, так же сбиваться стоп лоссы и исполняются ордера на
                    пробой находящиеся за условным уровнем
                    <strong>сопротивления</strong>. Все это способствует
                    фиксации ранее открытых длинных позиций без существенного
                    изменения цен.
                  </li>
                  <li>
                    Отмечаем минимум бара потенциального
                    <strong>ложного пробоя</strong> и в момент когда цена идет
                    ниже минимума открывается сделку в продажу. По классике
                    Прайс Экшен - <strong>медвежье поглощение</strong>
                  </li>
                  <li>
                    Обязательна постановка защитного ордера
                    <strong>стоп лосса</strong> так как есть вероятность, что
                    пробой не окажется <strong>ложным</strong>, а значит нужно
                    защитить депозит от рисков. По классике выше бара который мы
                    считаем <strong>ложным</strong> цен больше быть не может,
                    поэтому стоп лосс ставиться в аккурат за макушку такого бара
                    + учитывается пару пунктов комиссии биржи или брокера в
                    зависимости от того где торгует трейдер.
                  </li>
                  <li>
                    Цель по сделке - противоположный уровень, где покупатели
                    брали контроль над рынком.
                  </li>
                </ol>

                <p>
                  Как всегда, мы учитываем идеальный сценарий 3 к 1, где на
                  каждый доллар риска - потенциальная прибыль должна быть 3
                  доллара. Eсли соотношение не соблюдается, значит и нет сделки.
                </p>
              </section>
              <section>
                <h2>Пример 3</h2>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practicFive.jpg"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i
                    >График фьючерса на Евро с Биржи CME group. аналог
                    инструмента Евро - Доллар на Форексе , ТФ - 4 часа</i
                  >
                </div>
                <br />
                <p>
                  На графике фьючерса на Евро Тф - 4 часа , отмечена импульсная
                  медвежья волна как уровень сопротивления и зона нашего
                  интереса
                </p>
                <br />

                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practicSix.jpg"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i
                    >График фьючерса на Евро с Биржи CME group , только ТФ 15
                    мин.</i
                  >
                </div>
                <br />
                <ol>
                  <li>
                    Как обычно проводим уровень (диапазон сопротивления по
                    старшему ТФ - 4 часа)
                  </li>
                  <li>
                    В Диапазоне ждем паттерн <strong> Пин бар</strong>, как
                    попытку подняться которая ломается. На данном примере пин
                    бар не так отчетливо выглядит как на других ТФ, но сути
                    этого не меняет, так как вы всегда будете видеть пустые
                    волны без всплеска объемов ( низкая заинтересованность в
                    росте рынка) после которых рынок начинает опускаться.
                  </li>
                  <li>
                    Ложный пробой - главный атрибут нашего повышенного внимания.
                    Как всегда одни и те же характеристики : повышенный объем,
                    попытка подняться выше пин - бара или волны без объемов и
                    как результат цена начинает опускаться.
                  </li>
                  <li>
                    Выделяем минимум бара
                    <strong>потенциального ложного пробоя</strong> и входим
                    когда происходит <strong>медвежье поглощение </strong>.
                  </li>
                  <li>
                    Выставляем стоп лосс ( защитный ордер ) который
                    проконтролирует риски в сделке.
                  </li>
                  <li>
                    Определяем цель как противоположный уровень, от которого
                    начался рост цен.
                  </li>
                </ol>

                <p>
                  Важно помнить про правило 3 к 1, где на каждый доллар риска мы
                  хотим минимум заработать не менее 3-х долларов прибыли.
                </p>
              </section>

              <section>
                <h2>Пример 4</h2>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practiceSeven.jpg"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                  <i>График Биткоин , ТФ - 4 часа</i>
                </div>
                <br />
                <p>
                  На графике криптовалюта Биткоин Тф - 4 часа , отмечена
                  импульсная медвежья волна как уровень сопротивления и зона
                  нашего интереса.
                </p>
                <br />

                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practiceEight.jpg"
                    loading="lazy"
                    alt="Рыночный ордер"
                  />
                </div>
                <br />
                <ol>
                  <li>
                    Диапазон сопротивления на криптовалюте Биткоин (98000-97000)
                    взятый со старшего ТФ Х4 - который показан выше на примере.
                  </li>
                  <li>
                    Пин бар который является первым признаком проблем для
                    покупателей ( неспособность дать более высокие цены ,
                    дефицит спроса )
                  </li>
                  <li>
                    Ложный пробой уровня , попытка поднять рынок за счет резкого
                    изменения цен ( как я уже писал обычно происходит на
                    повышенных объемах) , так же сбиваются стоп приказы
                    шортистов и открываются ордера на пробой тех участников,
                    которые ждали пробой уровня ( открытие сделок в лонг) . Все
                    эти ордера суммарно дают значительный спрос (<strong
                      >ликвидность</strong
                    >
                    ) которую используют <strong>Смарт Мани</strong> для
                    открытия своих спекулятивных коротких позиций, либо просто
                    для фиксации прибыли уже существующих длинных , что так же
                    является продажами.
                  </li>
                  <li>
                    Как обычно , по правилам <strong>Price Action</strong> нам
                    нужно дождаться паттерн "<strong
                      >Медвежье поглощение</strong
                    >
                    " , который укажет на преобладание медведей , которые готовы
                    агрессивно продавать по рынку. Пробой минимума бара ложного
                    пробоя будет свидетельствовать о начале тренда в
                    противоположную сторону.
                  </li>
                  <li>
                    Постановка защитного ордера во время открытия сделки в
                    продажу , для защиты депозита.
                  </li>
                  <li>
                    Цель по сделке - противоположный локальный импульсный
                    уровень , где покупатели взяли контроль над ценой.
                  </li>
                </ol>
              </section>
              <section>
                <h2>Пример 5</h2>
                <br />
                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practiceNine.jpg"
                    loading="lazy"
                    alt="График Биткоин"
                  />
                  <i
                    >График фьючерса Индекс Nasdaq с Биржи CME group , ТФ 2
                    часа</i
                  >
                </div>

                <br />
                <ol>
                  <li>
                    В данном примере у нас нет импульсного уровня со старшего ТФ
                    , а просто признак "<strong>двойной вершины</strong>" , данный график
                    является примером внутредневной торговли, схематически он
                    такой же как и другие.
                  </li>
                  <li>
                    В Диапазоне ждем паттерн "<strong>Пин бар</strong>", как попытку подняться
                    которая ломается. Что говорит о несопособности покупателей
                    протолкнуть цену выше уровня "1" . Как правило на низком
                    объеме.
                  </li>
                  <li>
                    <strong>Ложный пробой</strong> - главный атрибут нашего повышенного внимания.
                    Как всегда одни и те же характеристики : повышенный объем,
                    попытка подняться выше пин - бара или волны без объемов и
                    как результат цена начинает опускаться. Что опять показывает
                    неспособность дать более высокие цены ( уже только с
                    "<strong>усилием</strong>")
                  </li>
                  <li>
                    Выделяем минимум бара потенциального ложного пробоя и входим
                    когда происходит медвежье поглощение , по всем законам
                     <a  class="linkrefinto" href="https://arapov.trade/ru/freestudying/candlestickpatterns">Price Action</a>  
                  </li>
                  <li>
                    Выставляем <strong>стоп лосс</strong>  ( защитный ордер ) который
                    проконтролирует риски в сделке.
                  </li>
                  <li>
                    Определяем цель - как противоположный уровень, от которого
                    начался рост цен.
                  </li>
                </ol>
              
                <p>
                  Важно помнить про правило 3 к 1, где на каждый доллар риска мы
                  хотим минимум заработать не менее 3-х долларов прибыли. В
                  данном примере правило 3 к 1 не соблюдается , поэтому в
                  реальной ситуации такую сделку необходимо пропускать. Даже
                  несмотря на то , что у нас появилась  <a class="linkrefinto" href="https://arapov.trade/ru/freestudying/smartmoneystrategies" >точка входа</a>   в рамках
                  нашей торговой системы.
                </p>
                <br>
              </section>
              <section>
                <h2>Самостоятельная торговля ученика</h2>
                <p>
                  Пример практической работы одного из учеников, счет
                  демонстрационный ( пока не будет сдан экзамен, я никому не
                  рекомендую использовать реальные средства).
                </p>
                <br />

                <div class="flex practice">
                  <img
                    class="pictureImg"
                    src="/assets/img/content/practiceExample.png"
                    loading="lazy"
                    alt="Самостоятельная торговля ученика"
                  />
                </div>
                <br />
                <p>
                  Цель данного экзамена сделать минимум 40 сделок, по правилам
                  торговой системы которую мы изучаем на уроках и оценить
                  результат этих сделок.
                </p>
                <p>
                  Счет демонстрационный открывается у любого брокера или биржи,
                  далее начинается торговля, по умолчанию, минимальным лотом,
                  так как цель экзамена - показать доход не в абсолютном
                  выражении, а в распределении вероятностей по сделкам торговой
                  системы.
                </p>

                <ul>
                  <li>
                    Первый важный показатель это винрейт системы, вы его можете
                    видеть в графе Profit Trades (63.27%) и Loss Trades
                    (36.73%). Данный показатель обозначает распределение
                    вероятностей в данной торговой системе, простыми словами -
                    из 100 сделок, в среднем, будет 63 прибыльные и 37
                    убыточных. (классика при работе с уровнями)
                  </li>
                  <li>
                    Второй показатель это Profit Factor - показывает сколько
                    приходится долларов прибыли на каждый доллар убытка, в
                    данном примере он составляет примерно 2.5, чем выше этот
                    показатель тем прибыльнее является торговая система.
                    Минимально достаточным, на мой взгляд, является 1.8-2 с
                    учетом всех комиссионных. В результате, на дистанции депозит
                    будет развиваться.
                  </li>
                  <li>
                    Третий показатель Maximal DrawDown этот показатель
                    показывает <strong>просадки по депозиту</strong> как
                    отношении свободных средств к размеру счета ( балансу) , в
                    данном случае просадки около нуля, так как торговая система
                    предусматривает использование стоп лоссов, и не дает
                    возможности создавать <strong>просадки</strong>.
                  </li>
                </ul>

                <p>
                  <strong>Вывод</strong> : Информация выложенная на сайте в виде
                  статей и роликов является достаточной для основательного
                  знакомства с трейдингом. Любой желающий может обучиться данной
                  профессии и сделать это бесплатно, используя всю собранную
                  мной информацию .
                </p>
                <p>
                  Желающие детально изучать данную профессию под моим
                  наставничеством , могут
                  <a class="linkrefinto" href="https://arapov.trade/ru/studying"
                    >записаться на курс</a
                  >
                  через форму обратной связи в разделе
                  <strong>курсы по трейдингу</strong>.
                </p>
                <br /><br />
                <div class="floorblock">
                  <strong>Успехов в обучении!</strong>
                  <strong> Игорь Арапов</strong>
                </div>
              </section>
            </article>
          </main>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="article-section">
  <h2>Что вы могли пропустить:</h2>
  <div class="related-articles">
    <div *ngFor="let article of randomArticleRus" class="article-block">
      <a [routerLink]="['/ru/freestudying', article.linkUkr]">
        <img [src]="article.imgUkr" [alt]="article.titleRus" loading="lazy" />
        <h3>{{ article.titleRus }}</h3>
      </a>
    </div>
  </div>
</div>
