<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Цінові фігури в трейдингу</span>
                    </h1>

                    <p>Привіт всім! Мене звати Ігор Арапов і сьогодні ми обговоримо основні технічні фігури, або цінові
                        патерни, в
                        технічному аналізі. Ця тема дуже популярна і є основою теханалізу, оскільки трейдери шукають
                        формації, які в
                        минулому працювали. Наприклад, фігура "голова і плечі" часто передбачає розворот тренду і
                        трейдери схильні
                        продавати, коли бачать її.</p>

                    <h3 class="orange">Чому фігури теханалізу використовуються?</h3>
                    <p>Особисто я не використовую фігури теханалізу, оскільки вони працюють з такою ж імовірністю, що і
                        не працюють. Це
                        просто статистика і в довгостроковій перспективі вони не дають переваги. Але чому ж тоді їх
                        використовують? Можливо,
                        тому що мозок намагається знайти закономірності в хаосі. Як у лісі людина виділяє тигра, так і
                        на ринку трейдери
                        виділяють фігури.</p>

                    <p>Ринок хаотичний і учасники приймають рішення про купівлю або продаж. Однак є й розумні учасники,
                        і ми аналізуємо їхні
                        угоди через обсяги. Сьогодні ми говоримо про фігури. Якщо ми бачимо коливання ціни і фігури на
                        графіку, це допомагає
                        структурувати хаос і приймати рішення. Наприклад, подвійна вершина показує, що покупці не можуть
                        підняти ціну вище,
                        і ведмежий тренд починає формуватися.</p>

                    <h3 class="orange">Обмеження фігур</h3>
                    <p>Однак фігури працюють не завжди. Нобелівський лауреат довів, що "голова і плечі" — це просто
                        картинка, яка не завжди
                        розгортає ринок. Але трейдери бачать її і схильні продавати, очікуючи розворот. Важливо не самі
                        картинки, а те, як
                        учасники ринку на них реагують.</p>

                    <h3 class="orange">Аналіз настроїв ринку і об'ємний аналіз</h3>
                    <p>Аналіз настроїв ринку і об'ємний аналіз набагато важливіші, тому що вони показують, що роблять
                        учасники ринку. Якщо
                        вони купують, ціна зростає, якщо продають — падає. Фігури не передбачають ринок, а показують
                        можливі сценарії його
                        розвитку.</p>

                    <p>Патерни програмують нас на певні дії. Якщо ви бачите прапор, то очікуєте зростання і купуєте. Але
                        це не прогноз
                        ринку, а просто можливий сценарій. На практиці я не знайшов корисного застосування фігурам
                        теханалізу. Але знати їх
                        варто, оскільки вони впливають на дії інших учасників ринку.</p>

                    <h3 class="orange">Використання патернів в концепції Smart Money</h3>
                    <p>У концепції Smart Money ці патерни використовують для захоплення ліквідності. Великі гравці
                        маніпулюють ринком,
                        створюючи рухи, які ловлять ордери учасників. Це допомагає їм зайняти вигідні позиції, але не
                        більше того.</p>

                    <h3 class="orange">Порада початківцям трейдерам</h3>
                    <p>Моя порада початківцям трейдерам: не зосереджуйтесь на фігурах, вони не принесуть вам користі.
                        Дивіться на більш
                        тонкі речі: не на самі картинки, а на те, що за ними стоїть і до чого вони можуть привести.</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/freestudying/marketmaker"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/freestudying/liqudityintrading"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>