<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Технический анализ рынка. Основные виды
                            графиков</span>
                    </h1>



                    <h3 class="orange">График цены в виде "БАРов"</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar1pic.jpg" alt="starter">

                    <p>У каждого бара есть четыре показателя:</p>
                    <ul>
                        <li>Слева всегда расположена "Цена открытия".</li>
                        <li>Справа - "Цена закрытия".</li>
                        <li>Хвост бара показывает "Минимальную Цену" за временной отрезок этого бара.</li>
                        <li>Макушка показывает "Максимум Цены".</li>
                    </ul>

                    <h3 class="orange">График цены в виде "Японских свечей"</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar2pic.jpg" alt="starter">

                    <p>Отличие "Свечного графика" от "БАРного" лишь в том, что тело свечи показывает направление
                        закрытия цены. И
                        закрашивается в определенный цвет в зависимости от настроек отображения. От цены "открытия" до
                        цены "закрытия".</p>
                    <h3 class="orange">Линейный график цены</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar3pic.jpg" alt="starter">

                    <p>Название уже передает суть, график изменения цены выражен в виде линии, где каждая новая точка -
                        это цена "закрытия"
                        за определенный отрезок времени.</p>
                    <h3 class="orange">Основные типы трендов на рынке</h3>
                    <h3 class="orange">"Бычий" тренд (восходящий)</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar4pic.jpg" alt="starter">

                    <p>Если соединить две последовательные точки минимума графика (точки, которые соответствуют уровням
                        поддержки), и
                        получится линия с положительным тангенсом угла наклона (направленная с левого нижнего в правый
                        верхний угол
                        графика), то такая линия называется линия поддержки восходящего тренда. Если последующие точки
                        минимума также
                        находятся на этой линии, то линия поддержки становится более значимой для рынка. Чем больше
                        точек минимума находится
                        вблизи линии поддержки, тем более вероятно, что последующие точки минимума также будут находится
                        вблизи этой линии.
                        На рисунке на примере котировки USD/JPY жирной линией является линия поддержки.</p>
                    <h3 class="orange">"Медвежий" тренд (нисходящий)</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar5pic.jpg" alt="starter">

                    <p>С нисходящим трендом дела обстоят аналогичным образом. Если соединить две последовательные точки
                        максимума графика
                        (точки, которые соответствуют уровням сопротивления), и получится линия с отрицательным
                        тангенсом угла наклона
                        (направленная с левого верхнего в правый нижний угол графика), то такая линия называется линия
                        сопротивления
                        (resistance line) нисходящего тренда. Линия сопротивления, по сути, определяет нисходящий тренд.
                        Если через
                        минимальную точку графика провести линию, параллельную линии сопротивления, то обе эти линии
                        определяют нисходящий
                        канал (down channel).</p>
                    <p>На рисунке приведен график котировки USD/JPY, на котором жирной линией нанесена линия
                        сопротивления. Эта линия
                        совместно с параллельной ей пунктирной линией, проходящей через минимальную точку графика,
                        образует нисходящий
                        канал. Также на рисунке можно видеть, что цена несколько раз приближалась к линии сопротивления
                        и отталкивалась от
                        нее, подтверждая сложившийся нисходящий тренд.</p>
                    <p>С торговлей на нисходящем канале дела обстоят также, как и с торговлей на восходящем — необходимо
                        покупать валюту на
                        нижней границе канала и продавать валюту на верхней его границе. Важно понимать, что любой
                        нисходящий тренд рано или
                        поздно развернется, поэтому важно не пропустить сигнал разворота тренда.</p>
                    <h3 class="orange">"Боковой" тренд</h3>
                    <img class="pictureImg" src="/assets/img/content/28ar6pic.jpg" alt="starter">

                    <p>который иногда называют "флэт", характеризуется тем, что нет заметной тенденции роста или падения
                        цен. В таком случае
                        цена совершает колебания, но определить линию поддержки восходящего тренда или линию
                        сопротивления нисходящего
                        тренда не представляется возможным. На графике такая ситуация представляется как горизонтальный
                        диапазон (sideways
                        channel) и изображается двумя параллельными горизонтальными линиями, между которыми цена
                        совершает свои колебания.
                        Горизонтальный диапазон изображен на рисунке на примере котировки USD/JPY.</p>
                    <p>Торговля в пределах горизонтального диапазона нежелательна, так как четко выраженного тренда еще
                        не сложилось, и
                        можно легко открыть позицию в убыточную сторону. Горизонтальный диапазон можно понимать как
                        равное по силе
                        противостояние "быков" и "медведей". Чем дольше длится такое противостояние, тем сильнее будет
                        последующий прорыв
                        цены в ту или иную сторону с образованием восходящего или нисходящего тренда. Горизонтальный
                        диапазон можно часто
                        наблюдать на часовых графиках выходных и праздничных дней, когда торговля на рынке практически
                        не ведется.</p>
                    <p>Периоды трендов бывают краткосрочными, среднесрочными и долгосрочными.</p>
                    <h3 class="orange">Уровень</h3>
                    <p>это горизонтальная линия, проведенная через область значений, где цена изменила свое направление.
                    </p>
                    <ul>
                        <li><strong>Уровень поддержки (SUP)</strong> — это линия, проведенная через минимальные значения
                            цены снизу.</li>
                        <li><strong>Уровень сопротивления (Res)</strong> — это линия, проведенная через максимальные
                            значения цены сверху.
                        </li>
                    </ul>
                    <img class="pictureImg" src="/assets/img/content/28ar7pic.jpg" alt="starter">

                    <p>Уровни поддержки и сопротивления имеют большое значение в техническом анализе валютного рынка
                        FOREX. Чем чаще цена
                        возвращается к тому или иному уровню, тем большее значение этот уровень имеет для рынка. Это
                        объясняется психологией
                        трейдеров, которые придают уровню большее значение, если уровень подтверждается с течением
                        времени возвращением к
                        нему цены.</p>
                    <p>Часто случается так, что если уровень поддержки пробивается, то этот уровень становится новым
                        уровнем сопротивления.
                        Или же если пробивается уровень сопротивления, то этот уровень становится новым уровнем
                        поддержки. На рисунке
                        показан график котировки USD/JPY с нанесенными на него уровнями поддержки и сопротивления.</p>
                    <p>Первый снизу уровень является уровнем поддержки и дважды подтверждался рынком. То же самое можно
                        сказать и о втором
                        снизу уровне.</p>
                    <p>Обратите внимание, что третий снизу уровень в разные моменты времени является сначала уровнем
                        сопротивления, а
                        впоследствии уровнем поддержки. Четвертый снизу уровень является уровнем сопротивления и также
                        дважды подтверждался
                        рынком.</p>
                    <p>Важно понимать, что уровни поддержки и сопротивления не представляют из себя точных значений, а
                        их определение — дело
                        творческое. Каждый трейдер по-своему определяет, какие критерии использовать для определения
                        уровней.</p>
                    <p>Считается, что уровень пробит, если цена закрытия торгового периода пробила этот уровень. Однако,
                        на исторических
                        данных котировок валют на FOREX можно найти много примеров того, когда цена закрытия пробивала
                        уровень, а в
                        следующих торговых периодах вновь возвращалась к нему. Поэтому пробитие уровней само по себе не
                        является сигналом
                        покупки или продажи — необходимо, чтобы и другие инструменты технического анализа также давали
                        сигнал для принятия
                        такого решения.</p>
                    <p>Чтобы вести успешную торговлю на FOREX, инструменты технического анализа необходимо использовать
                        в соответствии с
                        текущей ситуацией.</p>






                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/trading/technicalanalysis"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/trading/keypricepattern"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>