<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Імбаланс у трейдингу</span>
                    </h1>


                    <p>Всім привіт! Мене звати Ігор Арапов, і сьогодні ми поговоримо про імбаланс на ринку. Це популярна
                        тема, про яку
                        багато відео. Імбаланс пов'язаний з точками розвороту тренду та тим, як відбувається глобальний
                        розворот. Назва
                        говорить сама за себе: був баланс, а потім його не стало. Якщо ви хочете вловлювати розвороти
                        тенденцій, потрібно
                        навчитися бачити ці моменти на графіку.</p>

                    <h3 class="orange">Пошук балансу на графіку</h3>
                    <p>Для початку потрібно знайти баланс на графіку. Це допоможе зрозуміти, як ринок переходить зі
                        спокійного стану в
                        імбаланс, тобто в тренд. Вам потрібно побачити флэт — це коли ордери та обсяги зосереджені в
                        одному діапазоні.
                        Важливо, щоб у цьому діапазоні закінчився один із учасників.</p>

                    <p>Основою будь-якого бичачого тренду є дефіцит пропозиції. Розумні учасники купують на падіннях,
                        розуміючи вартість.
                        Але рано чи пізно в їх діапазоні закінчуються продавці, і вони змушені підвищувати ціну, щоб
                        купувати. Це і є логіка
                        імбалансу: коли обсяги в діапазоні високі, можна купувати лімітними ордерами, не впливаючи на
                        ціну. Але коли обсяги
                        закінчуються, великі покупці змушені підвищувати ціну, щоб отримати дефіцитну ліквідність. Це
                        призводить до зміни
                        тренду.</p>

                    <p>Імбаланс зазвичай є патерном розвороту, і його важливо шукати на рівнях. На рівнях вартості
                        відбувається фаза
                        накопичення, після якої змінюється тренд.</p>







                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/freestudying/makingmoneyintrading"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/freestudying/predictmarketprice"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Більше про трейдінг можна дізнатися на моєму каналі <span class="orange">YouTube</span>. Переходь та підписуйся.
    </p>
</div>
<section class="separator">
    <div class="line"></div>
</section>