<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Види та типи ордерів</span>
                    </h1>

                    <h3 class="orange">Класифікація</h3>
                    <p>Для відкриття та закриття позицій використовуються біржові заявки (ордери). За типом виконання
                        розрізняють ринковий
                        ордер (market order) та відкладений ордер (pending order). Відкладені ордери, у свою чергу,
                        бувають лімітні (limit),
                        стопові (stop) або стоп-лімітні (stop limit). Ордер кожного типу може використовуватися для
                        купівлі (buy) або
                        продажу (sell).</p>
                    <h3 class="orange">Пасивний лімітний ордер</h3>
                    <p>Лімітний ордер (limit order) — це заявка на купівлю або продаж певної кількості активу за
                        вказаною ціною або кращою.
                        Поки що ми розглядаємо звичайні (пасивні) лімітні ордери.</p>
                    <p>Лімітний ордер на купівлю (buy limit) — це заявка на купівлю за вказаною ціною або нижче (тому що
                        покупцеві вигідно,
                        щоб ціна була якомога нижчою). Ордер buy limit виставляється за ціною, яка нижче поточної
                        ринкової. Трейдер
                        використовує цей ордер, коли сподівається, що ціна спочатку впаде, але потім, досягнувши
                        заданого рівня,
                        розвернеться і почне зростати (тобто він розраховує на відскок вгору від рівня підтримки).</p>
                    <p>Лімітний ордер на продаж (sell limit) — це заявка на продаж за вказаною ціною або вище (тому що
                        продавцеві вигідно,
                        щоб ціна була якомога вищою). Ордер sell limit виставляється за ціною, яка вище поточної
                        ринкової. Трейдер
                        використовує цей ордер, коли сподівається, що ціна спочатку зросте, але потім, досягнувши
                        заданого рівня,
                        розвернеться і почне падати (тобто він розраховує на відскок вниз від рівня опору).</p>
                    <p>Для виконання лімітного ордера необхідна наявність зворотного ринкового ордера.</p>
                    <p>Лімітний ордер використовується як для відкриття позиції, так і для її закриття з прибутком:
                        ордер buy limit
                        забезпечує вихід із короткої позиції (продажу), а ордер sell limit — вихід із довгої позиції
                        (купівлі).</p>
                    <p>Учасники торгів, які використовують лімітні ордери, забезпечують (надають) ліквідність, тобто
                        дають можливість іншим
                        учасникам здійснювати угоди, погоджуючись із тими цінами, які вказані в цих лімітних ордерах.
                    </p>
                    <p>Якщо порівнювати біржу з овочевим ринком, то учасники, які виставили лімітні ордери, — це
                        торговці, які виклали свій
                        товар на прилавки і розставили цінники (за тим лише винятком, що на ринку товари зазвичай тільки
                        продають, а на
                        біржі торгові інструменти і продають, і купують).</p>
                    <h3 class="orange">Біржовий стакан</h3>
                    <p>Усі лімітні ордери, надіслані на біржу всіма учасниками торгів, утворюють так званий біржовий
                        стакан (стакан заявок).
                    </p>
                    <p>Ціна, за якою відбулася найостанніша угода на біржі, називається ціною Last. Вище ціни Last у
                        стакані розміщуються
                        лімітні ордери на продаж. Нижче — лімітні ордери на купівлю. Лімітний ордер на продаж за
                        найкращою ціною (найближчий
                        до ціни Last) має назву офер (Offer — пропозиція) або аск (Ask).</p>
                    <p>Лімітний ордер на купівлю за найкращою ціною (найближчий до ціни Last) має назву бід (Bid).</p>
                    <p>Проміжок між бідом і аском називають спредом (spread).</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/uk/trading/volumemarketanalysis"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/uk/trading/marketorder"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>