<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Stop Order</span>
                    </h1>
                    <h3 class="orange">Stop Order</h3>
                    <p>A stop order is an order to buy or sell a certain amount of an asset at the specified price or
                        worse.</p>
                    <p>A buy stop order is an order to buy at the specified price or higher. The trader uses this order
                        when hoping that the
                        price, in its upward movement, reaching the set level, will continue to rise. The buy stop order
                        is placed at a
                        price higher than the current market price. On the stock market, as soon as the last trade price
                        (Last) equals or
                        exceeds the price set in the buy stop order, it immediately turns into a market order to buy and
                        is executed under
                        the same conditions as all other market orders. On FOREX, for a buy stop order to trigger, the
                        Ask price must be
                        equal to or greater than the price specified in the order.</p>
                    <p>A sell stop order is an order to sell at the specified price or lower. The trader uses this order
                        when hoping that
                        the price, in its downward movement, reaching the set level, will continue to fall. The sell
                        stop order is placed at
                        a price lower than the current market price. On the stock market, as soon as the last trade
                        price (Last) equals or
                        falls below the price set in the sell stop order, it immediately turns into a market order to
                        sell and is executed
                        under the same conditions as all other market orders. On FOREX, for a sell stop order to
                        trigger, the Bid price must
                        be equal to or lower than the price specified in the order.</p>
                    <p>A stop order is used both to open a position and to exit it. In the latter case, the stop order
                        is used as a
                        protective order, limiting losses (stop loss): a buy stop order provides protection for a short
                        position (sale), and
                        a sell stop order provides protection for a long position (purchase).</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>