<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Поведенческие риски</span>
                    </h1>
                    <h2 class="orange">Риск возникновения паники</h2>
                    <p>При резком изменении курса валют может возникнуть паника, связанная с тем, что многие участники
                        рынка (особенно
                        мелкие спекулянты) начинают панически и стихийно закрывать свои позиции, чтобы не потерять
                        прибыль или уменьшить
                        потери. Подобные действия приводят к еще большему изменению курса. Получается эффект снежного
                        кома: чем больше
                        позиций закрывается, тем сильнее меняется цена и тем сильнее становится паника. Одновременно
                        многие участники
                        начинают открывать позиции в направлении движения цены, в надежде быстро получить прибыль, и
                        движение курса
                        продолжается стремительно.</p>
                    <p>Резкое изменение курса может быть вызвано различными факторами, такими как выход важных
                        финансовых новостей или
                        действиями крупных игроков, например, национальных банков различных стран. Они влияют на
                        изменение курсов путем
                        продажи или покупки больших объемов валюты. Резкие изменения курсов могут порождать слухи, не
                        имеющие реальной
                        основы.</p>
                    <p>Для того чтобы снизить подобные риски, рекомендуется не открывать сделки в период ожидания выхода
                        важных новостей.
                        Важно постоянно анализировать движение курса валюты, чтобы понять, что вызвало данное движение,
                        использовать
                        защитные ордера (тейк-профит и стоп-лосс), торговать по собственной системе и четко
                        придерживаться её.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/trading/majorbankfrs"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/trading/nonmarketrisks"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                            y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>