<!-- <div class="modal_search">
    <div class="header-search">
        <span class="header-search_container">
            <form [formGroup]="myForm" action="" class="searchContainer">


                <input formControlName="searchControl" type="text" autocomplete="off" spellcheck="false"
                    class="searchinp" placeholder="{{placeholderText}}">

                


                <button type="button" class="creatBtn" (click)="clearInp()">Clear</button>
                <button type="button" class="closeBtn" (click)="closeBtn()"><span style="font-size: larger;">X</span>
                </button>
            </form>
        </span>
    </div>
    <div class="body-search">

        <div *ngFor="let art of filteredArr|async " class="article-card">
            
            <div *ngIf="language==1">
                <a   (click)="closeBtn(); navigateToArticle('uk/freestudying/'+art.linkUkr)" class="card-link">
                    <div class="article-content">
                        <img src="{{art.imgUkr}}" alt="{{art.titleUkr}}" loading="lazy" class="article-image">
                        <h3 class="article-title orange" [innerHTML]="highlightText(art.titleUkr)"> </h3>
                    </div>
                </a>

            </div>
            




        </div>

    </div>
</div> -->

<div class="searchblock-container" (click)="$event.stopPropagation()">
  <form [formGroup]="myForm" class="search-form">
    <input
      formControlName="searchControl"
      type="text"
      placeholder="Введіть запит"
      (focus)="onFocus()"
      (blur)="onBlur()"
      autocomplete="off"
    />
    <span class="search-icon">🔍</span>
    <button type="button" class="clear-btn" (click)="clearInp()">✕</button>
  </form>

  <div class="search-results" *ngIf="displayedArticles.length > 0">
    <div *ngFor="let art of displayedArticles" class="search-result-item">
      <a
        (click)="navigateToArticle('uk/freestudying/' + art.linkUkr)"
        class="result-link"
      >
        <img [src]="art.imgUkr" [alt]="art.titleUkr" class="result-img" />
        <h3 class="result-title" [innerHTML]="highlightText(art.titleUkr)"></h3>
      </a>
    </div>
  </div>
</div>
