<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Requotes</span>
                    </h1>
                    <h3 class="orange">Requotes</h3>
                    <p>In dealing with dealing centers (DC) that provide FOREX quotes through the Instant Execution
                        system, a requote is an
                        offer to repeat the request for the current quote. This occurs if you try to place a market
                        order at the last price,
                        but for some reason, that price has already become outdated (due to slow internet connection or
                        high volatility). In
                        other words, your market order gets rejected.</p>
                    <p>On the stock market, requotes do not exist (but an order may fail to reach the broker or the
                        exchange due to an
                        internet connection breakdown or any other technical issues).</p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>