<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Separation of trading systems. Automation
                        </span>
                    </h1>
                    <h2 class="orange"> Manual Trading Systems</h2>
                    <p>The trader independently analyzes the market and makes decisions on trades.</p>
                    <span class="orange">Pros:</span>

                    <ul>
                        <li>The trader has complete control over the trading process.</li>
                        <li>Humans better account for minor market changes.</li>
                    </ul>
                    <span class="orange">Cons:</span>

                    <ul>
                        <li>The trader's psychology affects trading more than the trading system's rules. "Fear,"
                            "greed," "laziness," and
                            "fatigue" become the trader's main enemies.</li>
                    </ul>
                    <h2 class="orange"> Mechanical Trading Systems</h2>
                    <p>Trading is entirely handled by a robot, which follows all the rules of the trading system.</p>
                    <span class="orange">Pros:</span>


                    <ul>
                        <li>The robot is not subject to psychological issues.</li>
                        <li>It never gets tired.</li>
                        <li>The robot precisely and accurately follows all the rules embedded in it.</li>
                    </ul>
                    <span class="orange">Cons:</span>


                    <ul>
                        <li>The robot cannot adequately respond to market changes, so even minor changes can lead to
                            losses.</li>
                        <li>The trader must have programming skills to fully control the robot's work and make necessary
                            adjustments
                            promptly.</li>
                        <li>Basic technical problems (power outages, internet disruptions, etc.) can disrupt the robot's
                            operation and lead
                            to losses.</li>
                    </ul>
                    <h2 class="orange"> Semi-Automatic Trading Systems</h2>
                    <p>The advisor only suggests trades to the trader, and the trader makes the final decisions.</p>
                    <span class="orange">Pros:</span>


                    <ul>
                        <li>The trader controls every trade.</li>
                        <li>The main, routine work is handled by the advisor.</li>
                    </ul>
                    <span class="orange">Cons:</span>


                    <ul>
                        <li>Programming skills are also important.</li>
                        <li>The trader may begin to trust the advisor too much, dulling their reaction to minor market
                            changes.</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>