<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Market Order</span>
                    </h1>

                    <h3 class="orange">Market Order</h3>
                    <p>A market order executes immediately after reaching the exchange at the current price if there is
                        an opposite limit
                        order. For example, to execute a market buy order, a sell limit order is needed. To execute a
                        market sell order, a
                        buy limit order is needed.</p>
                    <p>To execute a market order, the best limit order available in the order book (closest to the Last
                        price) is selected.
                        Therefore, a market buy order is executed at the Ask price, and a market sell order is executed
                        at the Bid price.
                    </p>
                    <p>Market orders are used both to open a position and to close it (with profit or loss).</p>
                    <p>Market participants trading with market orders consume liquidity (other participants' limit
                        orders). If we compare
                        the exchange with a vegetable market, participants using market orders are like customers
                        looking at price tags
                        (limit orders in the order book) and agreeing (or not agreeing) with the prices indicated (with
                        the only exception
                        that on the market, customers usually only buy goods, while on the exchange, market orders can
                        be used to both buy
                        and sell).</p>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>