<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Розподіл торгових систем. Автоматизація
                        </span>
                    </h1>
                    <h2 class="orange"> «Ручні» торгові системи</h2>
                    <p>Трейдер самостійно проводить аналіз ринку і приймає рішення щодо здійснення угод.</p>
                    <span class="orange">Плюси:</span>

                    <ul>
                        <li>Трейдер має повний контроль над процесом торгівлі.</li>
                        <li>Людина краще враховує дрібні зміни на ринку.</li>
                    </ul>
                    <span class="orange">Мінуси:</span>

                    <ul>
                        <li>Психологія трейдера впливає на торгівлю більше, ніж правила торгової системи. «Страх»,
                            «жадібність», «лінь» і
                            «втома» стають основними ворогами трейдера.</li>
                    </ul>
                    <h2 class="orange"> «Механічні» торгові системи</h2>
                    <p>Торгівля повністю лежить на плечах робота, в якого закладені всі правила торгової системи.</p>
                    <span class="orange">Плюси:</span>


                    <ul>
                        <li>Роботу не відомі проблеми психології.</li>
                        <li>Він ніколи не втомлюється.</li>
                        <li>Робот точно і чітко виконує всі закладені в нього правила.</li>
                    </ul>
                    <span class="orange">Мінуси:</span>


                    <ul>
                        <li>Робот не може адекватно реагувати на зміни ринку, тому навіть дрібні зміни можуть призвести
                            до збитків.</li>
                        <li>Трейдер повинен володіти навичками програмування, щоб повністю контролювати роботу робота і
                            вчасно вносити
                            необхідні зміни.</li>
                        <li>Елементарні технічні проблеми (збої в електричних мережах, мережах Інтернет тощо) можуть
                            порушити роботу робота
                            і призвести до збитків.</li>
                    </ul>
                    <h2 class="orange"> Напівавтоматичні торгові системи</h2>
                    <p>Радник тільки підказує трейдеру, а торгові рішення трейдер приймає сам.</p>
                    <span class="orange">Плюси:</span>


                    <ul>
                        <li>Трейдер контролює кожну угоду.</li>
                        <li>Основна, рутинна робота перекладається на плечі радника.</li>
                    </ul>
                    <span class="orange">Мінуси:</span>


                    <ul>
                        <li>Також велике значення мають навички програмування.</li>
                        <li>Трейдер починає занадто довіряти раднику, притуплюється реакція на дрібні зміни ринку.</li>
                    </ul>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>