<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Fundamental Market Analysis</span>
                    </h1>

                    <p>Fundamental analysis involves studying various factors that affect the state of the economy as a
                        whole, specific
                        industries, as well as the position of a particular enterprise in the market with the aim of
                        predicting market
                        movements. When trading stocks, fundamental analysis is conducted at several levels, starting
                        from the macro level
                        to the level of a specific enterprise:</p>
                    <ul>
                        <li>analysis of the current state and development prospects of the company;</li>
                        <li>analysis of the current state and development prospects of economic sectors;</li>
                        <li>study of the state of the national economy as a whole;</li>
                        <li>assessment of the impact of external factors, both economic and political;</li>
                        <li>analysis of natural factors.</li>
                    </ul>
                    <h3 class="orange">Advantages and disadvantages of the market analysis method based on the
                        principles of fundamental
                        analysis:</h3>
                    <p>The undeniable <span class="orange">advantages</span> include the fact that it helps to predict
                        long-term development trends
                        and assess the
                        current state of the economy and finance.</p>
                    <p><span class="orange">The disadvantages</span> (difficulties of use) include the fact that each
                        company must be analyzed
                        individually, which
                        entails a fairly large volume of analytical work. Moreover, it is not so easy to separate
                        factual information from
                        information of an advertising nature or information distorted to some extent by the source of
                        analytical reviews.
                    </p>
                    <p>For a trader, it is important to know the future changes in exchange rates, that is, to be able
                        to analyze the market
                        and predict its direction and scale of development. Market analysis involves studying the
                        factors that affect its
                        development and the formation of a new exchange rate.</p>
                    <p>Fundamental analysis studies the changes in exchange rates under the influence of fundamental,
                        economic, and
                        political factors to determine the general trend of market development. <span class="orange">The
                            goal of fundamental
                            analysis</span> is to
                        determine a fair rate that corresponds to the overall state of the market. It is predominantly
                        used when working
                        with long-term strategies based on trends lasting several months or even years. It is the
                        analysis of fundamental
                        indicators and their relationships that allows determining the trend almost at the very
                        beginning of its life cycle.
                        Fundamental analysis alone is not enough to determine the optimal moment for a transaction.</p>


                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>