<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Economic State of the Country</span>
                    </h1>



                    <h3 class="orange">Labor Market Data:</h3>
                    <ul>
                        <li><strong>Non-Farm Payrolls</strong> - The number of newly created jobs in all sectors of the
                            economy except
                            agriculture. For the US, it shows the true picture of employment. Growth in NFP leads to
                            currency appreciation.
                            Released monthly on Fridays - the days of the largest movements due to the completion of the
                            weekly currency
                            movement cycle.</li>
                        <li><strong>Average Earnings</strong> - The average hourly wage rate (Increase in the indicator
                            - increase in
                            inflation expectations).</li>
                        <li><strong>Unemployment</strong> - The percentage of unemployed people out of the total
                            working-age population.
                            Rising unemployment - cooling of the labor market; currency depreciation.</li>
                        <li><strong>Jobless Claims</strong> - The number of people applying for unemployment benefits
                            (released weekly).
                        </li>
                        <li><strong>Claimant Count</strong> - The UK equivalent of NFP and Unemployment.</li>
                        <li><strong>Unit Wage</strong> - The UK equivalent of Average Earnings.</li>
                    </ul>

                    <h3 class="orange">Inflation Indicators:</h3>
                    <ul>
                        <li><strong>Consumer Price Index</strong> - Consumer (retail) price index. An indicator of
                            existing inflation.
                            Rising inflation amid economic growth leads to currency appreciation as an increase in the
                            interest rate is
                            expected.</li>
                        <li><strong>Money Supply (M0-M4)</strong> - Monetary aggregates.</li>
                        <li><strong>Producer Price Index</strong> - Producer price index (wholesale prices). An index of
                            emerging inflation
                            that exists only at the stage of raw materials and components entering the production
                            process. Divided into
                            INPUT and OUTPUT.</li>
                        <li><strong>Employment Cost Index</strong> - The cost of a unit of labor.</li>
                    </ul>





                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>