<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Экономическое состояние государства</span>
                    </h1>


                    <h3 class="orange">Данные по рынку труда:</h3>
                    <ul>
                        <li><strong>Non-Farm Payrolls</strong> - количество вновь создаваемых рабочих мест во всех
                            секторах экономики, кроме
                            сельского хозяйства. Для США показывает истинную картину по занятости. Рост NFP приводит к
                            росту валюты. Выходит
                            ежемесячно по пятницам - дни наибольших движений по причине завершения недельного цикла
                            движений валюты.</li>
                        <li><strong>Average Earnings</strong> - средняя почасовая ставка заработной платы (Рост
                            показателя — рост
                            инфляционных ожиданий).</li>
                        <li><strong>Unemployment</strong> - процент безработных от всего трудоспособного населения. Рост
                            безработицы -
                            охлаждение рынка труда; падение курса валюты.</li>
                        <li><strong>Jobless Claims</strong> — количество обратившихся за пособием по безработице
                            (выходит каждую неделю).
                        </li>
                        <li><strong>Claimant Count</strong> - британский аналог NFP и Unemployment.</li>
                        <li><strong>Unit Wage</strong> - британский аналог Average Earnings.</li>
                    </ul>
                    <h3 class="orange">Инфляционные показатели:</h3>
                    <ul>
                        <li><strong>Consumer Price Index</strong> - индекс потребительских (розничных) цен. Показатель
                            уже существующей
                            инфляции. Рост инфляции при росте показателей экономического развития приводит к росту
                            валюты, так как ожидается
                            повышение учетной ставки.</li>
                        <li><strong>Money Supply (M0-M4)</strong> - денежные агрегаты.</li>
                        <li><strong>Producer Price Index</strong> - индекс цен производителей (оптовых цен). Индекс
                            зарождающейся инфляции,
                            существующей только на стадии сырья и комплектующих, входящих в процесс производства.
                            Делится на INPUT и OUTPUT.
                        </li>
                        <li><strong>Employment Cost Index</strong> - стоимость единицы рабочей силы.</li>
                    </ul>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>