<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Volume Market Analysis</span>
                    </h1>


                    <p>This is the most in-demand type of analysis, as common sense tells us that most "large market
                        participants" use
                        "inside information" (insider info) in their trading to make decisions. And since they trade in
                        large volumes —
                        enough to determine their activity, retail traders can analyze their actions and join in. This
                        type of analysis is
                        given the most time in my training.</p>

                    <p>Volume market analysis involves analyzing the trading volumes at certain price levels and
                        identifying patterns
                        between the amount of money that has passed through a price and its subsequent movement.</p>

                    <p>Volumes are divided into two types: tick volumes and exchange volumes.</p>

                    <p><strong>Tick volume</strong> is of no value to the trader as it is formed by the number of price
                        fluctuations and has
                        no relation to actual trades.</p>

                    <p><strong>Exchange volume</strong> shows the number of futures and options contracts that have
                        passed at a certain
                        price. It is of two types: horizontal and vertical.</p>

                    <h3 class="orange">Horizontal volume</h3>
                    <p>involves the use of cluster charts, where the number of trading operations is displayed as
                        clusters opposite a
                        specific price they relate to. This is how horizontal exchange volumes look in practice:</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/30art1pic.jpg" alt="starter">

                    </div>
                    <p>The chart shows red and green rectangles on the left side of the cluster — these are the familiar
                        Japanese
                        candlesticks. Inside them are horizontal rectangles with numbers that represent real trading
                        volumes. If the figure
                        is red, the number next to it indicates the number of sell trades at that price. If the
                        rectangle is green, the
                        number next to it indicates the number of buy trades.</p>

                    <h3 class="orange">Vertical volume</h3>
                    <p>shows the number of traded lots per unit of time corresponding to the selected timeframe. On the
                        chart, they look as
                        follows:</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/30art2pic.jpg" alt="starter">

                    </div>
                    <h3 class="orange">Using volumes</h3>
                    <p>Key aspects of volume analysis are moments of increased volume activity or decreased activity.
                        Increased volume
                        activity, large volume, volume spike — is such vertical volume that is easily identifiable on
                        the chart without
                        additional indicators and filters! On different timeframes, it looks about the same, and such
                        volume always "stands
                        out" — it is always "above average".</p>

                    <p>An example of a spike on the "Time Frame" M30 (the same can be seen on any TF):</p>
                    <div class="flex">
                        <img class="pictureImg" src="/assets/img/content/30art3pic.jpg" alt="starter">

                    </div>
                    <h3 class="orange">The relationship between vertical volume and price movement dynamics</h3>
                    <p>The most important thing in understanding volume is the link "volume-price + result", often
                        called "effort-result".
                        We always link trading volume with price change to determine the direction of imbalance and the
                        result of the
                        "applied" volume. This link is used to assess the strength of a trend or a single wave, even
                        individual bars!</p>

                    <p>More "key" information in my courses.</p>







                </div>

            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>