<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="hero-content">
                    <div class="   m-right hero-section">

                    </div>
                    <h1>
                        <span style="background-color:#222;" class="orange">Полный Курс по Концепции Смарт Мани</span>
                    </h1>



                    <p>Всем снова привет! Продолжаю записывать лекцию по обучению трейдингу. Меня зовут Игорь Арапов. Я
                        трейдер с одиннадцатилетним опытом торговли на рынке и записываю краткий курс по обучению
                        трейдингу для всех желающих научиться этой профессии бесплатно.</p>
                    <p>В основном уроке, где я подробно изложил теорию трейдинга, я уже сказал, что обучение трейдингу
                        самостоятельно - это
                        достаточно сложный и долгий путь, который не все проходят. Поэтому я рекомендую учиться у тех,
                        кто уже практикует,
                        чтобы не набивать свои шишки. Тем не менее, я считаю, что теоретический материал должен быть
                        доступен
                        общественности, поэтому выкладываю теорию по трейдингу для тех, кто хочет учиться самостоятельно
                        и не платить за
                        обучение.</p>
                    <p>Итак, сегодняшняя тема будет посвящена торговой системе. В первом видео я подробно изложил теорию
                        трейдинга, начиная
                        от того, что такое биржа, её функционал, назначение, участники и как она регулируется. Мы
                        перешли к ордерам, их
                        видам и влиянию на цену, техническому анализу, формациям, индикаторам и их полезности или
                        бесполезности. Всё это
                        будет в теории. Я обязательно в этом видео дам ссылку на ту запись, чтобы те, кто начали
                        смотреть не с теории, сразу
                        перешли туда, потому что я рекомендую изучать трейдинг последовательно.</p>
                    <p>Сегодня мы поговорим уже конкретно о практике. Теория должна закончиться тем, что на выходе
                        учащийся должен иметь
                        торговую систему, которая будет говорить, где и когда покупать, почему заходить в рынок и когда
                        не заходить. Это
                        финал обучения трейдингу: иметь систему, которой вы будете следовать всю жизнь, не отклоняясь ни
                        влево, ни вправо.
                        Итак, давайте перейдём к сути вопроса.</p>
                    <p>У нас на графике фьючерс на золото. У нас хорошая ситуация для покупки, и я подробно объясню,
                        почему можно считать,
                        что золото разворачивается и почему здесь стоит покупать, а не продавать. Основа любого
                        заработка на рынке в виде
                        спекуляции – это покупка с расчётом на то, что цена пойдет вверх. Логика проста: покупая золото
                        по 2300 и продавая
                        по 2330, мы получаем разницу цен себе в карман.</p>
                    <p>Теперь возникает вопрос: как купить так, чтобы цена пошла вверх, а не вниз? Проблема многих
                        трейдеров – торговля
                        уровнями, где рынок часто любит пилить. Разберем, почему это происходит. Уровни в техническом
                        анализе показывают,
                        где было дорого, а где дёшево. Но иногда уровень может не сработать. Это объясняется объемами,
                        которые показывают
                        истинные намерения участников рынка.</p>
                    <p>В интернете активно продвигается логика захвата ликвидности. Это обоснованный термин, потому что
                        он говорит о
                        намерениях участников. В шахматах, например, нужно научиться читать намерения соперника, чтобы
                        победить. На рынке
                        всё аналогично: нужно уметь читать намерения участников.</p>
                    <p>Трейдинг – это игра на деньги, где есть умные и глупые участники. Умные отбирают деньги у глупых.
                        Поэтому наша задача
                        – понять их намерения. В объёмном анализе это сводится к поиску крупных сделок. Крупные
                        участники не покупают с
                        рынка напрямую; они создают условия для захвата ликвидности, чтобы купить по выгодным ценам.
                        Объемы показывают
                        моменты, когда на рынке происходит борьба спроса и предложения.</p>
                    <p>Когда цена подходит к уровню, но нет объемов, это сигнал о слабости рынка. Настоящий разворот
                        произойдет там, где
                        крупные игроки начнут активно покупать. Манипуляции создают условия, при которых другие
                        участники вынуждены
                        продавать с убытком, а крупные игроки покупают. Это и есть захват ликвидности.</p>
                    <p>Для успешной торговли важно понимать: уровни, манипуляции на уровнях и объёмы. Уровни показывают,
                        где дорого и где
                        дешево, манипуляции создают условия для входа, а объемы подтверждают намерения крупных игроков.
                    </p>



                </div>

            </div>
        </div>
    </div>
</section>
<section class="" id="hero">
    <div class="container">
        <div class="section-i">
            <div class="section-content">
                <div class="flex-arrow">


                    <a href="https://arapov.trade/ru/freestudying/drawdowns"><svg version="1.1" id="Capa_1"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right"
                            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px"
                            viewBox="0 0 306.287 306.288" style="enable-background:new 0 0 306.287 306.288;"
                            xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                        				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                        				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                        				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>

                    <a href="https://arapov.trade/ru/freestudying/volumetricmarketanalysis"><svg version="1.1"
                            id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" width="50px" height="50px" viewBox="0 0 306.287 306.288"
                            style="enable-background:new 0 0 306.287 306.288;" xml:space="preserve">
                            <g>
                                <g id="_x34_92._Forward">
                                    <g>
                                        <path
                                            d="M301.703,142.088L178.486,18.803c-12.202-12.217-22.108-8.119-22.108,9.161v62.592H31.274
                                                            				C14.006,90.556,0,104.56,0,121.848v62.582c0,17.288,14.006,31.294,31.274,31.294h125.104v62.592
                                                            				c0,17.284,9.906,21.388,22.108,9.169l123.217-123.276C307.814,158.102,307.814,148.193,301.703,142.088z M187.655,234.058V184.43
                                                            				H31.274v-62.582h156.381V72.226l80.874,80.92L187.655,234.058z"
                                            fill="#ff6633" />
                                    </g>
                                </g>
                            </g>
                        </svg></a>


                </div>


            </div>
        </div>
    </div>
</section>
<section class="separator">
    <div class="line"></div>
</section>

<div class="flex pad">
    <p>Больше о трейдинге можно узнать на моем канале <span class="orange">YouTube</span>. Переходи и подписывайся.</p>

</div>
<section class="separator">
    <div class="line"></div>
</section>